<div class="row" id="season-section">
  <div class="col-xs-12">
    <div class="row">
    <div class="col-xs-9">
      <div class="row">
        <button class="btn btn-orange pull-right">
          <span class="glyphicon glyphicon-ok"></span>
          Marquer toute la saison comme vue
        </button>
      </div>
        <div class="row list_episode no-pad">
              <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" id="episode-container"  ng-repeat="episode in vm.seasons.episodes">
                <div id="episode-card">
                  <img data-toggle="modal" data-target="#{{episode.id}}" ng-src="{{!episode.still_path ? 'bundles/serie/assets/img/img-default-episode.png' : 'https://image.tmdb.org/t/p/original'+episode.still_path}}" alt="" class="img-responsive center-block">
                  <div class="row no-pad">
                    <div class="col-xs-10 text-left no-pad">
                      <p>
                          {{episode.season_number == 0 ? 'Bonus' : 'Saison '+episode.season_number}}
                          - Episode
                          {{episode.episode_number}}
                      </p>
                      <p>{{episode.air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</p>
                    </div>
                    <div ng-click="vm.check(episode.id)" class="col-xs-2 text-right no-pad">
                      <span id="sign" style="color: #929292" class="glyphicon glyphicon-ok-sign" ng-hide='vm.episodeTrack[episode.id]'></span>
                      <span id="sign" style="color: rgb(255, 168, 52)" class="glyphicon glyphicon-ok-sign" ng-show='vm.episodeTrack[episode.id]'></span>
                    </div>
                  </div>
                </div>
                <div id={{episode.id}} class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                      </div>
                      <div class="modal-body">
                        <img ng-src="{{!episode.still_path ? 'bundles/serie/assets/img/img-default-episode-lg.png' : 'https://image.tmdb.org/t/p/original'+episode.still_path}}" alt="" class="img-responsive center-block">
                        <p>
                            {{episode.season_number == 0 ? 'Bonus' : 'Saison '+episode.season_number}}
                            - Episode
                            {{episode.episode_number}}
                        </p>
                        <p>{{episode.air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</p>
                        <p>
                          {{episode.name}}
                          {{episode.overview}}
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
      </div>
    </div>
    <div class="col-xs-3 text-center" id="section-progression">
        <h4>VOTRE PROGRESSION</h4>
        <div class={{vm.circle}}>
            <span>{{vm.pourcentage}}%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <h4>DERNIER EPISODE VU</h4>
        <p>
            Saison 3 - Episode 8
        </p>
        <h4>PROCHAIN EPISODE</h4>
        <div class="card_episode" ng-href="">
            <img class="img-responsive episode_img" ng-src="https://image.tmdb.org/t/p/original{{vm.seasons.episodes[0].still_path}}" alt=""/>
            <p>Saison
                {{vm.seasons.episodes[0].season_number}}
                - Episode
                {{vm.seasons.episodes[0].episode_number}}</p>
            <p>{{vm.seasons.episodes[0].air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</p>
        </div>
        <h4>EPISODE A VENIR</h4>
        <div class="card_episode" ng-href="">
            <img class="img-responsive episode_img" ng-src="https://image.tmdb.org/t/p/original{{vm.sheetSerie.backdrop_path}}" alt=""/>
            <p>Saison
                {{vm.sheetSerie.seasons[vm.sheetSerie.seasons.length-1].season_number}}
                - Episode
                {{vm.sheetSerie.seasons[vm.sheetSerie.seasons.length-1].episode_count}}</p>
                <p>{{vm.sheetSerie.last_air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</p>
        </div>
    </div>
</div>
</div>
</div>
