<div class="row no-pad">
    <div class="col-xs-10 col-xs-offset-1 no-pad">
          <button class="btn btn-orange pull-right">
            <span class="glyphicon glyphicon-ok"></span>
             Marquer toute la saison comme vue
          </button>
          <div class="row list_episode no-pad">
            <ul class="col-xs-12 no-pad">
                <li class="col-xs-4" ng-repeat="episode in vm.seasons.episodes">
                    <div class="card_episode" ng-href="">
                        <img class="img-responsive episode_img" ng-src="{{!episode.still_path ? 'bundles/serie/assets/img/img-default.png' : 'https://image.tmdb.org/t/p/w300'+episode.still_path}}" alt=""/>
                        <p>Saison
                            {{episode.season_number}}
                            - Episode
                            {{episode.episode_number}}</p>
                        <p ng-bind="'{{episode.air_date.replace('-','')+'T00:00:00'}}' | date:'dd MMMM yyyy'"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
