<div class="row padding0">
    <div class="col-xs-8 col-xs-offset-1 padding0">
        <div class="row list_episode padding0">
            <ul class="col-xs-12 padding0">
                <li class="col-xs-4" ng-repeat="episode in vm.seasons.episodes">
                    <div class="card_episode" ng-href="">
                        <img class="img-responsive episode_img" ng-src="https://image.tmdb.org/t/p/w300{{episode.still_path}}" alt=""/>
                        <p>Saison
                            {{episode.season_number}}
                            - Episode
                            {{episode.episode_number}}</p>
                        <p ng-bind="'{{episode.air_date.replace('-','')+'T00:00:00'}}' | date:'dd MMMM yyyy'"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-2">
        <p>
            test
        </p>
    </div>
</div>
