<style media="screen">
.spinner {
    width: 120px;
    height: 120px;
    border: 2px solid #ffffff;
    border-top: 3px solid #929292;
    border-radius: 100%;
    position: relative;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: #929292;
    position: absolute;
    display: block;
    z-index: 100000;
    color: white;
}
</style>
<div id="overlay" ng-show='vm.showLoader'>
  <div class="spinner"></div>
  <br>
  <h3 class="text-center">En cours de chargement</h3>
</div>
<div class="monthly" id="mycalendar"></div>
