<div class="container-fluid no-pad" id="connexion-page">
  <div class="row">
    <div class="col-xs-12 no-pad">
      <div class="row container-h1">
        <h1>Connexion</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="inscription-form">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="pseudo" class="col-sm-4 control-label">Pseudo ou Email :</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="pseudo" placeholder="Pseudo">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-4 control-label">Mot de passe* :</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="password" placeholder="Mot de passe">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">Se souvenir de moi
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 text-right">
                <br>
                <button type="submit" class="btn btn-orange center-block">Se connecter</button>
              </div>
            </div>
          </form>
          <hr>
          <div class="form-social text-center"><!-- Formulaire de connexion via social media -->
                  <button type="button" class="btn google-button">Google</button>
                  <button type="button" class="btn facebook-button">Facebook</button>
                  <button type="button" class="btn twitter-button">Twitter</button>
          </div><!-- Fin Formulaire de connexion via social media -->
        </div>
      </div>
    </div>
  </div>
</div>
