<div class="container-fluid no-pad" id="connexion-page">
  <div class="row">
    <div class="col-xs-12 no-pad">
      <div class="row container-h1">
        <h1>Connexion</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="inscription-form">
          <form name="connectForm" class="form-horizontal">
            <p class="text-center center-block text-form">Merci de remplir les champs suivants :</p><br>
            <div class="form-group">
              <label for="email" class="col-xs-12 col-sm-3 control-label">Email :</label>
              <div class="col-xs-12 col-sm-9">
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model='vm.email' ng-required='true'>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-xs-12 col-sm-3 control-label">Mot de passe :</label>
              <div class="col-xs-12 col-sm-9">
                <input type="password" class="form-control" id="password" placeholder="Mot de Passe" ng-model='vm.password' ng-required='true'>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 text-center">
                <br>
                <button ng-click='vm.login()' ng-disabled="connectForm.$invalid" class="btn btn-orange center-block">Se connecter</button>
                <br>
                <a ng-href="/#!/inscription" class="form-link text-center">Pas encore de compte ?</a>
                <br><br>
                <a ng-href="/#!/reactivation" class="form-link text-center">Réactiver mon compte</a>
              </div>
            </div>
          </form>
          <div ng-show="(vm.loginMessage)" class="alert" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'success', 'alert-info': vm.loginMessage.type == 'info'}">
            <h4><span class="glyphicon glyphicon-exclamation-sign pull-left"></span>&nbsp;{{vm.loginMessage.title}}</h4>
            <p>{{vm.loginMessage.message}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
