<div class="container-fluid">

    <!-- Bandeau en-tête -->
    <div class="row hpnl-band">

        <!-- Slider -->
        <div class="col-md-6 hpnl-band-left">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div id="carousel-bandeau-generic" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="bundles/serie/assets/img/téléchargement.jpeg" alt="Flash">
                            </div>
                            <div class="item">
                                <img src="bundles/serie/assets/img/Breaking-Bad.jpg" alt="Breaking-Bad">
                            </div>
                            <div class="item">
                                <img src="bundles/serie/assets/img/hannibal.jpg" alt="hannibal">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-bandeau-generic" role="button" data-slide="prev" prevent>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-bandeau-generic" role="button" data-slide="next" prevent>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 hpnl-band-right">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1 class="hpnl-title text-center">WhatiWatch</h1>
                    <p class="hpnl-text text-center">
                        Suivez toutes vos séries et ne manquez plus un seul épisode !
                    </p>
                      <button class="btn btn-orange center-block">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Séries les plus populaires -->
    <div class="row hp-band-pop">
        <h2 class="hp-title-band">SERIES LES PLUS POPULAIRES</h2>
        <section class="center slider">
            <div>
                <slick class="slider" settings="vm.slickConfig">
                    <div class="repeat" ng-repeat="result in vm.results">
                        <div class="card" ng-click='vm.toggleMore($index)' ng-mouseleave="show = false" ng-mouseenter="show = true">
                            <img ng-src="https://image.tmdb.org/t/p/w500{{result.backdrop_path}}" alt=""/>
                            <img href="#1" class="img-fluid" ng-src="{{ tvShow.img }}">
                            <div class="card-block" ng-show="show">
                                <h4 class="card-title">{{ tvShow.id }}</h4>
                                <p class="card-text">{{ result.name }}</p>
                            </div>
                        </div>
                    </div>
                </slick>
            </div>
        </section>
        <!-- <div class="col-lg-12">
            <h2 class="hp-title-band">SERIES LES PLUS POPULAIRES</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel multi-item-carousel1 slide" id="eventCarousel" data-interval="0">
                        <div class="carousel-inner onebyone-carosel">
                            <div class="item" ng-class="{active:$index == 0}" ng-repeat="tvShow in vm.tvShows">
                                <div class="col-xs-4" ng-click='vm.toggleMore()' ng-mouseleave="show = false" ng-mouseenter="show = true">
                                    <div class="card">
                                        <img href="#1" class="img-fluid" ng-src="{{ tvShow.img }}">
                                        <div class="card-block" ng-show="show">
                                            <h4 class="card-title">{{ tvShow.id }}</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary" prevent>Boink!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="left carousel-control" href="#eventCarousel" data-slide="prev" prevent>
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                        <a class="right carousel-control" href="#eventCarousel" data-slide="next" prevent>
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div> -->

    </div>
    <div id="more" class="row" ng-repeat="result in vm.results">


        <div class="col-xs-12 col-sm-6 col-md-8 followMore" ng-show='vm.isToggled1'>
            <a id="btn-follow" ng-click='vm.toggleFollow()' prevent>
                <span id="star-empty" class="glyphicon glyphicon-star-empty"></span>
                <span id="star" class="glyphicon glyphicon-star"></span>
                Suivre la série</a>


            <div class="contenu">
                <h2>{{ result.name }}</h2>
                <h3>{{ sheetSerie.number_of_seasons }} saisons - 81 épisodes</h3>
                <h3>54098 followers</h3>
                <p>{{ result.overview }}</p>
                <a id="btn-see" class="center-block" href="#" prevent>Voir la série</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="bundles/serie/assets/img/maxresdefault-1.jpg" height="100%" width="100%" alt="Teen Wolf"/>
            <div id="info">
                <p>
                    <strong>Catégories :</strong>
                    supernatural</p>
                <p>
                    <strong>Réseau :</strong>
                    ABC</p>
            </div>
        </div>
    </div>

    <!-- visualisation de la fiche série "Séries les plus populaires" -->

    <div class="row">
        <div class="col-lg-12"></div>

    </div>

    <!-- Derniers épisodes -->

    <div class="row hp-band-last">
        <div class="col-lg-12">
            <h2 class="hp-title-band">DERNIERS EPISODES</h2>

            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide multi-item-carousel2" id="theCarousel2">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-xs-4">
                                    <a href="#1"><img src="bundles/serie/assets/img/2176.png" class="img-responsive" prevent></a>
                                    <p class="text-center hp-band-last-text">
                                        Nom de série
                                        <br>
                                        Episode X - Saison X
                                    </p>
                                    <p class="text-center hp-band-last-text-date">
                                        Date de sortie
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-4">
                                    <a href="#1"><img src="bundles/serie/assets/img/68455929-dexter-wallpapers (1).jpg" class="img-responsive" prevent></a>
                                    <p class="text-center hp-band-last-text">
                                        Nom de série
                                        <br>
                                        Episode X - Saison X
                                    </p>
                                    <p class="text-center hp-band-last-text-date">
                                        Date de sortie
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-4">
                                    <a href="#1"><img src="bundles/serie/assets/img/Breaking-Bad.jpg" class="img-responsive" prevent></a>
                                    <p class="text-center hp-band-last-text">
                                        Nom de série
                                        <br>
                                        Episode X - Saison X
                                    </p>
                                    <p class="text-center hp-band-last-text-date">
                                        Date de sortie
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-4">
                                    <a href="#1"><img src="bundles/serie/assets/img/hannibal.jpg" class="img-responsive" prevent></a>
                                    <p class="text-center hp-band-last-text">
                                        Nom de série
                                        <br>
                                        Episode X - Saison X
                                    </p>
                                    <p class="text-center hp-band-last-text-date">
                                        Date de sortie
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-4">
                                    <a href="#1"><img src="bundles/serie/assets/img/maxresdefault-1.jpg" class="img-responsive" prevent></a>
                                    <p class="text-center hp-band-last-text">
                                        Nom de série
                                        <br>
                                        Episode X - Saison X
                                    </p>
                                    <p class="text-center hp-band-last-text-date">
                                        Date de sortie
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-4">
                                    <a href="#1"><img src="bundles/serie/assets/img/walking-dead-ddotomen.jpeg" class="img-responsive" prevent></a>
                                    <p class="text-center hp-band-last-text">
                                        Nom de série
                                        <br>
                                        Episode X - Saison X
                                    </p>
                                    <p class="text-center hp-band-last-text-date">
                                        Date de sortie
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-4">
                                    <a href="#1"><img src="bundles/serie/assets/img/the-big-bang-theory.jpg" class="img-responsive" prevent></a>
                                    <p class="text-center hp-band-last-text">
                                        Nom de série
                                        <br>
                                        Episode X - Saison X
                                    </p>
                                    <p class="text-center hp-band-last-text-date">
                                        Date de sortie
                                    </p>
                                </div>
                            </div>

                        </div>
                        <a class="left carousel-control" href="#theCarousel2" data-slide="prev" prevent>
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                        <a class="right carousel-control" href="#theCarousel2" data-slide="next" prevent>
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- visualisation de la fiche série "Derniers épisodes" -->

    <div class="row">
        <div class="col-lg-12"></div>

    </div>
</div>
