<div class="container-fluid no-pad" id="homepage">

    <!-- Bandeau en-tête -->
    <div class="row hpnl-band">

        <!-- Slider -->
        <div class="col-md-offset-1 col-md-4 hpnl-band-left" ng-controller="carousel1Controller as vm">
            <section class="center-block slider">
                <div>
                    <slick class="slider" settings="vm.slickConfig">
                        <div class="repeat" ng-repeat="result in vm.results">
                            <div class="card" ng-click="vm.togglePane = result.i">
                                <img class="img-responsive center-block" ng-src="https://image.tmdb.org/t/p/w500{{result.backdrop_path}}" alt="{{ result.name }}"/>
                            </div>
                        </div>
                    </slick>
                </div>
            </section>
        </div>
        <div class="col-md-offset-1 col-md-6 hpnl-band-right">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h1 class="hpnl-title text-center" ng-hide='vm.isLogged'>What I Watch</h1>
                    <p class="hpnl-text text-center" ng-hide='vm.isLogged'>
                        Suivez toutes vos séries et ne manquez plus un seul épisode !
                    </p>
                    <h1 class="hpnl-title text-center" ng-show='vm.isLogged'>
                        Bonjour
                        {{vm.sessionFactory.user.username}}
                        !
                    </h1>
                    <a href="#/inscription">
                        <button class="btn btn-orange center-block" ng-hide='vm.isLogged'>S'inscrire</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Slider séries les plus populaires -->
    <div id="hp-band-pop" class="row">
        <h2 class="hp-title-band">LES PLUS POPULAIRES</h2>
        <section class="center slider">
            <div>
                <slick class="slider" settings="vm.slickConfig">
                    <div class="repeat" ng-repeat="result in vm.results">
                        <div class="card center-block" ng-click="vm.togglePane = result.i">
                            <img class="img-responsive center-block" ng-src="https://image.tmdb.org/t/p/w500{{result.backdrop_path}}" alt="{{ result.name }}"/>
                        </div>
                    </div>
                </slick>
            </div>
        </section>
    </div>

    <!-- visualisation de la fiche série "Séries les plus populaires" -->
    <div id="more" class="row" ng-repeat="result in vm.results" ng-show="vm.togglePane == result.i">

        <div class="col-xs-12 col-sm-3 col-md-4 no-pad">
            <img id="more-img" class="img-responsive center-block" ng-src="https://image.tmdb.org/t/p/w342{{ result.poster_path }}" alt="{{ result.name }}"/>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 followMore">
            <a id="btn-follow" ng-click='vm.toggleFollow(result.id)' ng-hide='vm.isLogged' prevent>
                <span id="star-empty" class="glyphicon glyphicon-star-empty" ng-hide='vm.series[result.id]'></span>
                <span id="star" class="glyphicon glyphicon-star" ng-show='vm.series[result.id]'></span>
                Suivre la série</a>
            <!--<a id="btn-follow" ng-show='vm.isLogged' href="#myModal" data-toggle="modal" data-target="#myModal" prevent>
                <span id="star-empty" class="glyphicon glyphicon-star-empty" ng-hide='vm.series[result.id]'></span>
                <span id="star" class="glyphicon glyphicon-star" ng-show='vm.series[result.id]'></span>
                Suivre la série</a>-->

            <div class="contenu">
                <h2>{{ result.name }}</h2>
                <h3>{{ result.number_of_seasons }}
                    saisons -
                    {{ result.number_of_episodes }}
                    épisodes</h3>
                <h3>{{ result.popularity }}
                    followers</h3>
                <p>{{ result.overview | limitTo: 600 }}{{ result.overview.length > 600 ? '...' : ''}}</p>
                <div class="text-left">
                    <span class="title-section-serie">Genre :
                    </span>
                    <span ng-repeat="genre in result.genres" class="tag">{{genre.name}}</span>
                    <br>
                    <span class="title-section-serie">Réseau :
                    </span>
                    <span>{{ result.networks[0].name}}</span>
                </div>
                <br>
                <a class="btn-see center-block" href="#" ng-click="vm.tvShowView(result.id)" prevent>Voir la série</a>
            </div>
        </div>

    </div>

    <!-- Séries random -->
    <div id="hp-band-last" class="row no-pad" ng-controller="carousel3Controller as vm">
        <h2 class="hp-title-band">SUGGESTIONS</h2>
        <section class="center slider">
            <div>
                <slick class="slider" settings="vm.slickConfig">
                    <div class="repeat" ng-repeat="result in vm.results">
                        <div class="card">
                            <img class="img-responsive center-block" ng-src="{{!result.backdrop_path ? 'bundles/serie/assets/img/img-default2.png' : 'https://image.tmdb.org/t/p/w500'+result.backdrop_path}}" alt="{{ result.name }}"/>
                        </div>
                        <div class="random">
                            <p class="text-center">
                                {{ result.name }}
                            </p>
                            <a href="#" class="btn-see center-block" ng-click="vm.tvShowView(result.id)" prevent>Voir la série</a>
                        </div>
                    </div>
                </slick>
            </div>
        </section>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="glyphicon glyphicon-remove" data-dismiss="modal"></span>
                </div>
                <div class="modal-body">
                    <h3>Vous devez être connecté pour pouvoir accéder aux pages des séries et suivre des séries.</h3>
                    <a href="#">Se connecter</a>
                    <a href="#">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>

</div>
