<div class="container-fluid no-pad" id="inscription-page2">
    <div class="row">
        <div class="col-xs-12 no-pad">
            <div class="row container-h1">
                <h1>Inscription</h1>
            </div>
            <div class="row" ng-hide="vm.loggedin">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <p class="text-center center-block text-form">Pour compléter votre inscription, veuillez sélectionner au minimum 3 séries à suivre :</p><br>
                    <div class="row">
                      <!-- Première partie -->
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="serie-container" ng-repeat="result in vm.results">
                            <div id="serie-card" ng-click='vm.follow(result.id)'>
                                <img ng-src="https://image.tmdb.org/t/p/w500{{ result.backdrop_path }}" alt="{{ result.name }}" class="img-responsive center-block">
                                <div class="row no-pad">
                                    <div class="col-xs-10 text-left no-pad">
                                        <h4>{{ result.name }}</h4>
                                    </div>
                                    <div id="btn-followinsc" class="col-xs-2 text-right no-pad">
                                        <span id="sign" style="color: rgb(255, 168, 52)" class="glyphicon glyphicon-ok-sign" ng-show='vm.serieTrack.indexOf(result.id) !== -1'></span>
                                        <span id="sign" style="color: #929292" class="glyphicon glyphicon-ok-sign" ng-hide='vm.serieTrack.indexOf(result.id) !== -1'></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Deuxième partie -->
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="serie-container" ng-repeat="result in vm.resultsMore" ng-show='vm.isToggled'>
                            <div id="serie-card" ng-click='vm.follow(result.id)'>
                                <img ng-src="https://image.tmdb.org/t/p/w500{{ result.backdrop_path }}" alt="{{ result.name }}" class="img-responsive center-block">
                                <div class="row no-pad">
                                    <div class="col-xs-10 text-left no-pad">
                                        <h4>{{ result.name }}</h4>
                                    </div>
                                    <div id="btn-followinsc" class="col-xs-2 text-right no-pad">
                                        <span id="sign" style="color: #929292" class="glyphicon glyphicon-ok-sign" ng-hide='vm.serieTrack.indexOf(result.id) !== -1'></span>
                                        <span id="sign" style="color: rgb(255, 168, 52)" class="glyphicon glyphicon-ok-sign" ng-show='vm.serieTrack.indexOf(result.id) !== -1'></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="voir-plus" ng-click='vm.toggleMoreInsc()' ng-hide='vm.isToggled'>
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-plus-circle" id="plus"></i>
                            <span>Voir plus de séries</span>
                        </div>
                    </div>
                    <div class="row" id="voir-plus" ng-click='vm.toggleMoreInsc()' ng-show='vm.isToggled'>
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-minus-circle" id="plus"></i>
                            <span>Voir moins de séries</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <br>
                            <button ng-click='vm.followInsc(vm.sessionFactory.user.id)' class="btn btn-orange center-block">Finaliser
                                <br>l'inscription</button>
                            <br>
                            <div ng-show="(vm.loginMessage)" class="alert" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'success', 'alert-info': vm.loginMessage.type == 'info'}">
                                <h4><span class="glyphicon glyphicon-exclamation-sign pull-left"></span>&nbsp;{{vm.loginMessage.title}}</h4>
                                <p>{{vm.loginMessage.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show='vm.loggedin'>
              <div class="col-xs-12 text-center">
                <p class="text-center center-block text-form">Vous êtes déjà inscrits !</p><br>
                <a href='/#!/' class="btn btn-orange btn-back center-block">Retour à la page<br> d'accueil</a>
                <br>
                <img src="bundles/serie/assets/img/zombie.gif" alt="Zombi" class="img-responsive center-block">
              </div>
            </div>
        </div>
    </div>
</div>
