<div ng-controller='navbarController as vm'>

    <nav id="navbar" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/"><img alt="whatIwatch" src="bundles/serie/assets/img/wiw2.png" width="40px">What I Watch</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="mynav">
                <ul class="nav navbar-nav navbar-right">
                    <li id="navSearch">
                        <a href="" ng-click='vm.toggleSearch()'>
                            <span class="glyphicon glyphicon-search"></span>Rechercher</a>
                    </li>
                    <li id="navCalendar" ng-show='vm.isLogged'>
                        <a href="#!/calendrier">
                            <span class="glyphicon glyphicon-calendar"></span>Calendrier</a>
                    </li>
                    <li id="navProfile" ng-show='vm.isLogged'>
                        <a href="#!/profil">
                            <span class="glyphicon glyphicon-user"></span>Profil</a>
                    </li>
                    <li id="navLogin" ng-hide='vm.isLogged'>
                        <a href="#!/connexion">
                            <span class="glyphicon glyphicon-user"></span>Se connecter</a>
                    </li>
                    <li id="navLogout" ng-show='vm.isLogged'>
                        <a href="" ng-click='vm.logout()'>
                            <span class="glyphicon glyphicon-log-out"></span>Se déconnecter</a>
                    </li>
                </ul>
            </div>
            <div id="search" class="center-block text-center">
                <div id="searchHide" ng-show='vm.isToggled' class="col-xs-12">
                    <div class="col-xxs-12 col-xs-10 col-xs-offset-1">
                        <form ng-submit="vm.searchView(vm.query)">
                            <input type="text" placeholder="Rechercher" ng-model="vm.query"/>
                            <button type="submit" class="btn btn-search">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
