<div class="container-fluid" id="profile-page">
    <div class="row" id="img-section">
        <div class="col-xs-12">
            <img ng-src="{{'bundles/serie/uploads/'+vm.sessionFactory.user.picture}}" alt="" class="img-responsive center-block">

            <h2>{{ vm.sessionFactory.user.username }}</h2>
            <a href="#/profiledit" id="edit-btn">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span>Editer</span>
            </a>
        </div>
    </div>
    <div class="row center-block" id="stat-section">
        <div class="col-xs-12" id="stat-container">
            <table>
                <th>Séries suivies</th>
                <th>Episodes vus</th>
                <th>
                    <i class="fa fa-hourglass-end" aria-hidden="true"></i> Durée de visionnage</th>
                <tr>
                    <td>{{ vm.user.nb_series }}</td>
                    <td>{{ vm.user.nb_episodes_vus }}</td>
                    <td>{{ vm.user.duree_visionnage }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" id="serie-section">
        <div class="col-xs-12">
            <h2>Mes Séries</h2>

            <div class="row">
                <div id="serie-container" class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="sheetSerie in vm.arraySeries">
                    <div id="serie-card" ng-click="vm.tvShowView(sheetSerie.id)">
                        <img ng-src="https://image.tmdb.org/t/p/w500{{ sheetSerie.backdrop_path }}" alt="{{ sheetSerie.name }}" class="img-responsive center-block">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-percent={{ vm.users.user.series.percent }}></div>
                        </div>
                        <h4>{{ sheetSerie.name }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tag-section">
        <div class="col-xs-12">
            <h2>Mes Préférences Tags</h2>
            <div class="tag-container">
                <span class="tag" ng-repeat="tag in vm.genres">{{ tag.name }}</span>
            </div>
            <div class="row" id="voir-plus">
                <div class="col-xs-12 text-center">
                    <i class="fa fa-plus-circle" id="plus"></i>
                    <span>Voir plus de tags</span>
                </div>
            </div>
        </div>
    </div>

</div>
