<div class="container-fluid" id="profile-page">
  <div class="row" id="img-section">
    <div class="col-xs-12">
      <img src="http://placehold.it/250x250" class="img-responsive center-block">
      <h2>Avatar3228</h2>
      <div id="edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i>
        <span>Editer</span>
      </div>
    </div>
  </div>
  <div class="row center-block" id="stat-section">
    <div class="col-xs-12" id="stat-container">
      <table>
        <th>Séries suivies</th>
        <th>Episodes vus</th>
        <th><i class="fa fa-hourglass-end" aria-hidden="true"></i> Durée de visionnage</th>
        <tr>
          <td>32</td>
          <td>186</td>
          <td>2 jours, 127 heures, 11 minutes</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" id="serie-section">
    <div class="col-xs-12">
      <h2>Mes Séries</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="serie-container">
          <div id="serie-card">
            <img src="bundles/serie/assets/img/téléchargement.jpeg" alt="Flash" class="img-responsive center-block">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-percent="90%"></div>
            </div>
            <h4>The Flash</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="serie-container">
          <div id="serie-card">
            <img src="bundles/serie/assets/img/arrow.jpg" alt="Arrow" class="img-responsive center-block">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-percent="20%"></div>
            </div>
            <h4>Arrow</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="serie-container">
          <div id="serie-card">
            <img src="bundles/serie/assets/img/dexter.jpg" alt="Dexter" class="img-responsive center-block">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-percent="60%"></div>
            </div>
            <h4>Dexter</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="serie-container">
          <div id="serie-card">
            <img src="bundles/serie/assets/img/bigbang.jpg" alt="The Big Bang Theory" class="img-responsive center-block">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-percent="50%"></div>
            </div>
            <h4>The Big Bang Theory</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="serie-container">
          <div id="serie-card">
            <img src="bundles/serie/assets/img/Breaking-Bad.jpg" alt="Breaking Bad" class="img-responsive center-block">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-percent="10%"></div>
            </div>
            <h4>Breaking Bad</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="serie-container">
          <div id="serie-card">
            <img src="bundles/serie/assets/img/got.jpg" alt="Game of Thrones" class="img-responsive center-block">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-percent="80%"></div>
            </div>
            <h4>Game of Thrones</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="serie-container">
          <div id="serie-card">
            <img src="bundles/serie/assets/img/hannibal.jpg" alt="Hannibal" class="img-responsive center-block">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-percent="70%"></div>
            </div>
            <h4>Hannibal</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="serie-container">
          <div id="serie-card">
            <img src="bundles/serie/assets/img/walking-dead-ddotomen.jpeg" alt="The Walking Dead" class="img-responsive center-block">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-percent="30%"></div>
            </div>
            <h4>The Walking Dead</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="tag-section">
    <div class="col-xs-12">
      <h2>Mes Préférences Tags</h2>
      <div class="tag-container">
        <span class="tag">Fantastique</span>
        <span class="tag active">Science Fiction</span>
        <span class="tag">Comédie</span>
        <span class="tag active">Romance</span>
        <span class="tag active">Drame</span>
        <span class="tag">Musical</span>
        <span class="tag">Horreur</span>
        <span class="tag">Biographie</span>
        <span class="tag">Animation</span>
        <span class="tag">Aventure</span>
        <span class="tag">Documentaire</span>
        <span class="tag">Famille</span>
        <span class="tag">Crime</span>
        <span class="tag">Thriller</span>
        <span class="tag">Western</span>
        <span class="tag">Guerre</span>
      </div>
      <div class="row" id="voir-plus">
          <div class="col-xs-12 text-center">
              <i class="fa fa-plus-circle" id="plus"></i><span>Voir plus de tags</span>
          </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
	$('.progress-bar').each(function(){
		$(this).animate({
			width:$(this).attr('data-percent')
		}, 3000);
	});
</script>
