<div class="container-fluid no-pad serie">
    <div class="row no-pad serieNL">
        <div class="col-xs-12 sheetSerie_ban">
            <div class="sheetSerie_img" style="background-image: url(https://image.tmdb.org/t/p/original{{vm.sheetSerie.backdrop_path}})"></div>
            <div class="row">
                <div id="stat-serie" class="col-xs-12 menuNL center-block">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 no-pad">
                            <h1>{{ vm.sheetSerie.name }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1 no-pad" id="stat-container">
                            <table>
                                <th>Saison</th>
                                <th>Episodes</th>
                                <th>
                                    <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                                    Durée</th>
                                <th>Statut</th>
                                <th>Followers</th>
                                <tr>
                                    <td>{{vm.sheetSerie.number_of_seasons}}</td>
                                    <td>{{vm.sheetSerie.number_of_episodes}}</td>
                                    <td>{{vm.sheetSerie.episode_run_time[0]}}</td>
                                    <td>{{vm.sheetSerie.in_production===true ? "En cours" : "Terminée"}}</td>
                                    <td>{{vm.sheetSerie.popularity}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="follow row">
        <div class="col-xs-11 col-xs-offset-1">
            <a href="#" ng-click='vm.follow(vm.sheetSerie.id)' prevent>
                <span id="star-empty" class="glyphicon glyphicon-star-empty" ng-hide='vm.series'></span>
                <span id="star" class="glyphicon glyphicon-star" ng-show='vm.series'></span>
                Suivre la série</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2>Résumé</h2>
            <p id="resume">
                {{vm.sheetSerie.overview}}
            </p>
        </div>
    </div>
    <div class="row categorie">
        <div class="col-xs-11 col-xs-offset-1">
            <span class="title-section-serie">Genre :
            </span>
            <span ng-repeat="genre in vm.sheetSerie.genres" class="tag">{{genre.name}}</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1">
            <span class="title-section-serie">Réseau :
            </span>
            <span>{{vm.sheetSerie.networks[0].name}}</span>
        </div>
    </div>
    <div class="row acteur">
        <div class="col-xs-10 col-xs-offset-1">
            <p class="title-section-serie">Acteurs :</p>
            <ul class="row no-pad">
                <li class="col-xs-6 col-sm-3 col-md-2 text-center no-pad" ng-repeat="actor in vm.people.cast">
                    <div class="acteur-img" style="background-image: url({{!actor.profile_path ? 'bundles/serie/assets/img/img-default-acteur2.png' : 'https://image.tmdb.org/t/p/w185'+actor.profile_path}})"></div>
                    <br>
                    <div class="acteur-nom">
                      {{actor.name}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class='horizon-swiper saison'>
        <ul>
            <li class="saison-num horizon-item" ng-repeat="season in vm.sheetSerie.seasons">
                <a href="" ng-click="vm.getSeasons(vm.sheetSerie.id, season.season_number)" prevent>{{season.season_number == 0 ? 'Bonus' : 'Saison '+season.season_number}}</a>
            </li>
        </ul>
    </div>
    <season></season>
</div>

<script type="text/javascript">
    setTimeout(function(){ $('.horizon-swiper').horizonSwiper(); }, 500);
</script>
