<div class="container serieNL">
    <div class="row">
        <div class="banniere">
        <div class="menuNL">
            <h1>The flash</h1>
            <ul>
                <li>Saison 3</li>
                <li>Episodes 86</li>
                <li>Durée 60min</li>
                <li>Statut En cours</li>
                <li>Followers 54 872</li>
            </ul>
        </div>
      </div>
        <div class="follow">
            <a href="#" ng-click='vm.toggleFollow()' prevent>
                <span id="star-empty" class="glyphicon glyphicon-star-empty"></span>
                <span id="star" class="glyphicon glyphicon-star"></span>
                Suivre la série</a>
        </div>
    </div>
</div>
<div id="resume">
    <h1>Résumé</h1>
    <p>
        Jeune expert de la police scientifique de Central City, Barry Allen se retrouve doté d'une vitesse extraordinaire après avoir été frappé par la foudre. Sous le costume de Flash, il utilise ses nouveaux pouvoirs pour combattre le crime.
    </p>
</div>
<div class="saison">
  <ul>
    <li><a href="#" prevent>Saison 1</a></li>
    <li><a href="#" prevent>Saison 2</a></li>
    <li><a href="#" prevent>Saison 3</a></li>
  </ul>
</div>
