        <div class="container serieNL">
            <div class="row">
                <div class="banniere"></div>
                <div class="menuNL">
                    <h1>The flash</h1>
                    <ul>
                        <li>Saison 3</li>
                        <li>Episodes 86</li>
                        <li>Durée 60min</li>
                        <li>Statut En cours</li>
                        <li>Followers 54 872</li>
                    </ul>
                </div>
                <div class="follow">
                    <a href="#">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Suivre la série</a>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('.glyphicon').click(function() {
              if()
                $(this).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
            })
        </script>
