<div class="container-fluid no-pad serie">
    <div class="row no-pad serieNL">
        <div class="col-xs-12 sheetSerie_ban">
            <div class="sheetSerie_img" style="background-image: url(https://image.tmdb.org/t/p/original{{vm.sheetSerie.backdrop_path}})"></div>
            <div class="row">
                <div id="stat-serie" class="col-xs-12 menuNL center-block no-pad">
                    <div class="row">
                        <div class="col-xxs-12 col-xs-10 col-xs-offset-1">
                            <h1>{{ vm.sheetSerie.name }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxs-12 col-xs-11 col-xs-offset-1" id="stat-container">
                            <table>
                                <th>Saisons</th>
                                <th>Episodes</th>
                                <th>
                                    <i class="fa fa-hourglass-end xxs-hidden" aria-hidden="true"></i> Durée
                                </th>
                                <th class="xxs-hidden">Statut</th>
                                <th class="xxs-hidden">Followers</th>
                                <tr>
                                    <td>{{vm.sheetSerie.number_of_seasons}}</td>
                                    <td>{{vm.sheetSerie.number_of_episodes}}</td>
                                    <td>{{vm.sheetSerie.episode_run_time[0]}}
                                        min</td>
                                    <td class="xxs-hidden">{{vm.sheetSerie.in_production===true ? "En cours" : "Terminée"}}</td>
                                    <td class="xxs-hidden">{{vm.sheetSerie.popularity}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="follow row" ng-show='vm.sessionFactory.isLogged'>
        <div class="col-xs-11 col-xs-offset-1">
            <a href="#" ng-click='vm.follow(vm.sheetSerie.id, vm.sheetSerie.episode_run_time[0])' prevent>
                <span id="star-empty" class="glyphicon glyphicon-star-empty" ng-hide='vm.series'></span>
                <span id="star" class="glyphicon glyphicon-star" ng-show='vm.series'></span>
                <span ng-hide='vm.series'>Suivre la série</span>
                <span ng-show='vm.series'>Série suivie</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xxs-12 col-xs-10 col-xs-offset-1">
            <h2>Résumé</h2>
            <p id="resume">
                {{vm.sheetSerie.overview}}
            </p>
        </div>
    </div>
    <div class="row categorie">
        <div class="col-xxs-12 col-xs-11 col-xs-offset-1">
            <span class="title-section-serie">Genre :
            </span>
            <span ng-repeat="genre in vm.sheetSerie.genres" class="tag">{{genre.name}}</span>
        </div>
        <div class="col-xxs-12 col-xs-11 col-xs-offset-1">
            <span class="title-section-serie">Réseau :
            </span>
            <span>{{vm.sheetSerie.networks[0].name}}</span>
        </div>
    </div>
    <div class="row acteur">
        <div class="col-xxs-12 col-xs-10 col-xs-offset-1">
            <p class="title-section-serie">Acteurs :</p>
            <ul class="row no-pad">
                <li class="col-xs-6 col-sm-3 col-md-2 text-center no-pad" ng-repeat="actor in vm.people.cast">
                    <div class="acteur-img" style="background-image: url({{!actor.profile_path ? 'bundles/serie/assets/img/img-default-acteur2.png' : 'https://image.tmdb.org/t/p/w185'+actor.profile_path}})"></div>
                    <br>
                    <div class="acteur-nom">
                        {{actor.name}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class='horizon-swiper saison'>
        <ul>
            <li class="saison-num horizon-item" ng-repeat="season in vm.sheetSerie.seasons" ng-style="{{$index == vm.sheetSerie.seasons.length-1 && '{\'marginRight\':\'100px\'}'}}">
                <a href="" ng-click="vm.getSeasons(vm.sheetSerie.id, season.season_number)" prevent>{{season.season_number == 0 ? 'Bonus' : 'Saison '+season.season_number}}</a>
            </li>
        </ul>
    </div>
</div>

<div ng-hide='vm.series' id="saison-non-suivie">
    <div id="overlay" ng-show='vm.loader'>
        <div class="spinner"></div>
        <br>
        <h3 class="text-center">En cours de chargement</h3>
    </div>
    <div class="row no-pad" ng-hide='vm.loader'>
        <div class="col-xs-12">
            <div class="row list_episode no-pad">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4 col-lg-4" id="episode-container" ng-repeat="episode in vm.seasons.episodes" data-toggle="modal" data-target='{{vm.sessionFactory.isLogged ? "#myModal_log" : "#myModal_notlog"}}'>
                            <div id="episode-card">
                                <img ng-if="!episode.still_path" ng-style="{'background-image':'url(bundles/serie/assets/img/img-default-episode.png)'}" src="" alt="" class="img-responsive center-block">
                                <img ng-if="episode.still_path" ng-style="{'background-image':'url(https://image.tmdb.org/t/p/original'+episode.still_path+')'}" src="" alt="" class="img-responsive center-block">
                                    <div class="row no-pad">
                                    <div class="col-xs-10 text-left no-pad">
                                        <p>Saison {{episode.season_number}} - Episode {{episode.episode_number}}
                                        </p>
                                        <p ng-bind="'{{episode.air_date.replace('-','')+'T00:00:00'}}' | date:'dd MMMM yyyy'"></p>
                                    </div>
                                    <div class="col-xs-2 text-right no-pad">
                                        <span id="star" class="glyphicon glyphicon-ok-sign"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal non loggué -->
    <div id="myModal_notlog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="glyphicon glyphicon-remove" data-dismiss="modal"></span>
                </div>
                <div class="modal-body">
                    <h3>Vous devez être connecté pour pouvoir accéder aux résumés d'épisodes et suivre la séries.</h3>
                    <a id="btn-modal" ng-click='vm.modalToConnexion()'>Se connecter</a>
                    <a id="btn-modal" ng-click='vm.modalToInscription()'>S'inscrire</a>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal loggué -->
    <div id="myModal_log" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="glyphicon glyphicon-remove" data-dismiss="modal"></span>
                </div>
                <div class="modal-body">
                    <h3>Vous devez suivre la série pour accéder aux résumés des épisodes</h3>
                    <img id="chat-qui-pleure" src="bundles/serie/assets/img/chat.gif" alt="chat qui pleure" class="img-responsive center-block">
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal">Fermer</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show='vm.series'>
    <div id="overlay" ng-show='vm.loader'>
        <div class="spinner"></div>
        <br>
        <h3 class="text-center">En cours de chargement</h3>
    </div>
    <div class="row" id="season-section" ng-hide='vm.loader'>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xxs-12 col-xs-9">
                    <div class="row">
                        <button class="btn btn-grey pull-right" ng-click='vm.unwatchSeason(vm.seasons.season_number)'>
                            <span class="glyphicon glyphicon-remove"></span>
                            Démarquer
                        </button>
                        <button class="btn btn-orange pull-right" ng-click='vm.watchSeason(vm.seasons.season_number)'>
                            <span class="glyphicon glyphicon-ok"></span>
                            Marquer toute la saison
                        </button>
                    </div>
                    <div class="row list_episode no-pad">
                        <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4 col-lg-4" id="episode-container" ng-repeat="episode in vm.seasons.episodes">
                            <div id="episode-card">
                                <div>
                                  <img data-toggle="modal" data-target="#{{episode.id}}" ng-if="!episode.still_path" ng-style="{'background-image':'url(bundles/serie/assets/img/img-default-episode.png)'}" src="" alt="" class="img-responsive center-block">
                                  <img data-toggle="modal" data-target="#{{episode.id}}" ng-if="episode.still_path" ng-style="{'background-image':'url(https://image.tmdb.org/t/p/original'+episode.still_path+')'}" src="" alt="" class="img-responsive center-block">
                                </div>
                                <div class="row no-pad">
                                    <div class="col-xs-10 text-left no-pad episode-info">
                                        <p>
                                            {{episode.season_number == 0 ? 'Bonus' : 'Saison '+episode.season_number}} - Episode {{episode.episode_number}}
                                        </p>
                                        <p>{{episode.air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</p>
                                    </div>
                                    <a href="#" ng-click='vm.watch(episode.id, vm.sheetSerie.id, episode.air_date, episode.episode_number, episode.season_number)' prevent>
                                        <div class="col-xs-2 text-right no-pad">
                                            <span id="sign" style="color: #929292" class="glyphicon glyphicon-ok-sign" ng-hide='vm.serieTrack.indexOf(episode.id) !== -1'></span>
                                            <span id="sign" style="color: rgb(255, 168, 52)" class="glyphicon glyphicon-ok-sign" ng-show='vm.serieTrack.indexOf(episode.id) !== -1'></span>
                                        </div>
                                    </a>
                                </div>
                                <div id={{episode.id}} class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">{{ vm.sheetSerie.name }}</h4>
                                                <span class="glyphicon glyphicon-remove" data-dismiss="modal"></span>
                                            </div>
                                            <div class="modal-body" ng-show='vm.serieTrack.indexOf(episode.id) !== -1'>
                                                <img ng-src="{{!episode.still_path ? 'bundles/serie/assets/img/img-default-episode-lg.png' : 'https://image.tmdb.org/t/p/original'+episode.still_path}}" alt="{{ vm.sheetSerie.name }}" class="img-responsive center-block">
                                                <h4>
                                                    {{episode.season_number == 0 ? 'Bonus' : 'Saison '+episode.season_number}}
                                                    - Episode
                                                    {{episode.episode_number}}
                                                </h4>
                                                <h5>{{episode.air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</h5>
                                                <p>
                                                    {{episode.name}} {{episode.overview}}
                                                </p>
                                            </div>
                                            <div class="modal-body" ng-hide='vm.serieTrack.indexOf(episode.id) !== -1'>
                                                <img ng-src="{{!episode.still_path ? 'bundles/serie/assets/img/img-default-episode-lg.png' : 'https://image.tmdb.org/t/p/original'+episode.still_path}}" alt="{{ vm.sheetSerie.name }}" class="img-responsive center-block">
                                                <h4>
                                                  {{episode.season_number == 0 ? 'Bonus' : 'Saison '+episode.season_number}}
                                                  - Episode
                                                  {{episode.episode_number}}
                                              </h4>
                                                <h5>{{episode.air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</h5>
                                                <br ng-hide='vm.okSpoiler[episode.id]'>
                                                <h3 ng-hide='vm.okSpoiler[episode.id]'>Cliquez sur le bouton pour afficher le résumé de l'épisode.</h3>
                                                <a id="btn-modal" ng-click='vm.modalSpoiler(episode.id)' ng-hide='vm.okSpoiler[episode.id]'>Alerte Spoiler</a>
                                                <p ng-show='vm.okSpoiler[episode.id]'>
                                                    {{episode.name}} {{episode.overview}}
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <a data-dismiss="modal">Fermer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxs-12 col-xs-3 text-center" id="section-progression">
                    <h4>VOTRE PROGRESSION</h4>
                    <div class={{vm.circle}}>
                        <span>{{vm.pourcentage}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                      <h4 ng-show='vm.exist'>DERNIER EPISODE VU</h4>
                      <div class="card_episode" ng-href="" ng-show='vm.exist'>
                          <img class="img-responsive episode_img" ng-src="{{ !vm.episode.still_path ? 'bundles/serie/assets/img/img-default-episode.png' : 'https://image.tmdb.org/t/p/original'+vm.episode.still_path }}" alt="" />
                          <p>{{vm.episode.season_number ? 'Saison '+vm.episode.season_number+' - Episode '+vm.episode.episode_number : "Prout"}}
                          </p>
                      </div>
                    <h4>PROCHAIN EPISODE</h4>
                    <div class="card_episode" ng-href="">
                        <img class="img-responsive episode_img" ng-src="{{!vm.seasons.episodes[0].still_path  ? 'bundles/serie/assets/img/img-default-episode.png' : 'https://image.tmdb.org/t/p/original'+vm.seasons.episodes[0].still_path }}" alt="" />
                        <p>Saison {{vm.seasons.episodes[0].season_number}} - Episode {{vm.seasons.episodes[0].episode_number}}
                        </p>
                        <p>{{vm.seasons.episodes[0].air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</p>
                    </div>
                    <h4>EPISODE A VENIR</h4>
                    <div class="card_episode" ng-href="">
                        <img class="img-responsive episode_img" ng-src="{{!vm.sheetSerie.backdrop_path ? 'bundles/serie/assets/img/img-default-episode.png' : 'https://image.tmdb.org/t/p/original'+vm.sheetSerie.backdrop_path }}" alt="" />
                        <p>Saison {{vm.sheetSerie.seasons[vm.sheetSerie.seasons.length-1].season_number}} - Episode {{vm.sheetSerie.seasons[vm.sheetSerie.seasons.length-1].episode_count}}
                        </p>
                        <p>{{vm.sheetSerie.last_air_date.replace(vm.underscoreReg,'')+'T00:00:00' | date:'dd MMMM yyyy'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
