{
    "users": [{
        "id": 420,
        "user": [{
            "name": "Kévin Poyer",
            "pseudo": "Dieu_restons_simple",
            "password": 1234,
            "mail": "kevin.poyer@gmail.com",
            "photo": ".jpg",
            "nb_series": 42,
            "nb_episodes_vus": 69,
            "duree_visionnage": "",
            "series": [{
                "id": 60735,
                "name": "Flash",
                "percent": "100%",
            }, {
                "id": 1402,
                "name": "The Walking Dead",
                "percent": "72%",
            }, {
                "id": 456,
                "name": "Les Simpsons",
                "percent": "2%",
            }, {
                "id": 57243,
                "name": "Doctor Who",
                "percent": "100%",
            }, {
                "id": 1622,
                "name": "Supernatural",
                "percent": "77%",
            }, {
                "id": 34307,
                "name": "Shameless",
                "percent": "100%",
            }, {
                "id": 1399,
                "name": "Game of Thrones",
                "percent": "42%",
            }, {
                "id": 1418,
                "name": "The Big Bang Theory",
                "percent": "39%",
            }, {
                "id": 63247,
                "name": "Westworld",
                "percent": "48%",
            }, {
                "id": 1434,
                "name": "Les Griffin",
                "percent": "45%",
            }],
            "genres": [{
                "id": 10759,
                "name": "Action & Adventure"
            }, {
                "id": 16,
                "name": "Animation"
            }, {
                "id": 35,
                "name": "Comédie"
            }, {
                "id": 80,
                "name": "Crime"
            }, {
                "id": 99,
                "name": "Documentaire"
            }, {
                "id": 18,
                "name": "Drame"
            }, {
                "id": 10751,
                "name": "Familial"
            }, {
                "id": 10762,
                "name": "Kids"
            }, {
                "id": 9648,
                "name": "Mystère"
            }, {
                "id": 10763,
                "name": "News"
            }, {
                "id": 10764,
                "name": "Reality"
            }, {
                "id": 10765,
                "name": "Science-Fiction & Fantastique"
            }, {
                "id": 10766,
                "name": "Soap"
            }, {
                "id": 10767,
                "name": "Talk"
            }, {
                "id": 10768,
                "name": "War & Politics"
            }, {
                "id": 37,
                "name": "Western"
            }]
        }],

    }, {
        "id": 421,
        "user": [{
            "name": "Thifaine Noirault",
            "pseudo": "Aylarius",
            "password": 5678,
            "mail": "thifaine.noirault@gmail.com",
            "photo": ".jpg",
            "nb_series": 69,
            "nb_episodes_vus": 23456,
            "duree_visionnage": "",
            "series": [{
                "id": 547,
                "name": "Medical Investigation",
                "percent": "35%",
            }, {
                "id": 530,
                "name": "The Mobile Cop Jiban",
                "percent": "25%",
            }, {
                "id": 531,
                "name": "Saved by the Bell: The New Class",
                "percent": "95%",
            }, {
                "id": 1,
                "name": "Pride",
                "percent": "69%",
            }, {
                "id": 23,
                "name": "Tugs",
                "percent": "12%",
            }, {
                "id": 5514,
                "name": "Mister Roberts",
                "percent": "100%",
            }, {
                "id": 5478,
                "name": "Celebrity Family Feud",
                "percent": "75%",
            }, {
                "id": 5877,
                "name": "Pandora's Box",
                "percent": "6%",
            }, {
                "id": 9873,
                "name": "The Sky at Night",
                "percent": "57%",
            }, {
                "id": 10382,
                "name": "The Joy of Painting",
                "percent": "78%",
            }],
            "genres": [{
                "id": 10759,
                "name": "Action & Adventure"
            }, {
                "id": 16,
                "name": "Animation"
            }, {
                "id": 35,
                "name": "Comédie"
            }, {
                "id": 80,
                "name": "Crime"
            }, {
                "id": 99,
                "name": "Documentaire"
            }, {
                "id": 18,
                "name": "Drame"
            }, {
                "id": 10751,
                "name": "Familial"
            }, {
                "id": 10762,
                "name": "Kids"
            }, {
                "id": 9648,
                "name": "Mystère"
            }, {
                "id": 10763,
                "name": "News"
            }, {
                "id": 10764,
                "name": "Reality"
            }, {
                "id": 10765,
                "name": "Science-Fiction & Fantastique"
            }, {
                "id": 10766,
                "name": "Soap"
            }, {
                "id": 10767,
                "name": "Talk"
            }, {
                "id": 10768,
                "name": "War & Politics"
            }, {
                "id": 37,
                "name": "Western"
            }]
        }],
    }],
}
