https://api.themoviedb.org/3/discover/tv?api_key=fc533e12b849e49e74ab5d046165bcc7&language=fr-FR&sort_by=first_air_date.desc&air_date.gte=2016-12-15&air_date.lte=2016-12-17&page=1&timezone=America/New_York&include_null_first_air_dates=false
date : 2016-12-14/2016-12-16
Classé en ordre décroissant (date)

{
  "page": 1,
  "results": [
    {
      "poster_path": "/ppSiYu2D0nw6KNF0kf5lKDxOGRR.jpg",
      "popularity": 2.875,
      "id": 69061,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2016-12-16",
      "origin_country": [],
      "genre_ids": [
        10765,
        9648,
        18
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "The OA",
      "original_name": "The OA"
    },
    {
      "poster_path": "/6cM2ctZjUEJKAw3vQvctzl67gPO.jpg",
      "popularity": 11.595619,
      "id": 68815,
      "backdrop_path": null,
      "vote_average": 4.08,
      "overview": "",
      "first_air_date": "2016-12-16",
      "origin_country": [
        "KR"
      ],
      "genre_ids": [
        9648
      ],
      "original_language": "ko",
      "vote_count": 6,
      "name": "솔로몬의 위증",
      "original_name": "솔로몬의 위증"
    },
    {
      "poster_path": "/tcS6G8lbmVU8uUtHhtlVpsxrYDm.jpg",
      "popularity": 8.753545,
      "id": 68837,
      "backdrop_path": "/8J4XFEhPFuJs7rfocpLo62f5Nhi.jpg",
      "vote_average": 9.25,
      "overview": "",
      "first_air_date": "2016-12-16",
      "origin_country": [],
      "genre_ids": [
        10759,
        16,
        10751,
        10765
      ],
      "original_language": "en",
      "vote_count": 2,
      "name": "Justice League Action",
      "original_name": "Justice League Action"
    },
    {
      "poster_path": null,
      "popularity": 2.25,
      "id": 69086,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2016-12-15",
      "origin_country": [],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Kids Sweets Showdown",
      "original_name": "Kids Sweets Showdown"
    },
    {
      "poster_path": "/28VQVohdtd8prPKBLaLjUtGQfab.jpg",
      "popularity": 13.321729,
      "id": 68780,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2016-12-14",
      "origin_country": [
        "US"
      ],
      "genre_ids": [
        18
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "Star",
      "original_name": "Star"
    },
    {
      "poster_path": "/x7xlfHOdl5aH4orTOVl9PDxlIjK.jpg",
      "popularity": 9.936693,
      "id": 68045,
      "backdrop_path": "/tkThh8YcFndG5FOLdaxHxePrZHC.jpg",
      "vote_average": 6.67,
      "overview": "",
      "first_air_date": "2016-12-11",
      "origin_country": [
        "CN"
      ],
      "genre_ids": [],
      "original_language": "zh",
      "vote_count": 3,
      "name": "放弃我，抓紧我",
      "original_name": "放弃我，抓紧我"
    },
    {
      "poster_path": "/c2Wxhk86WkPuSjwZz51zvw0Wkx7.jpg",
      "popularity": 3.38395,
      "id": 69015,
      "backdrop_path": null,
      "vote_average": 1,
      "overview": "Individualisme, orgueil, avarice, cupidité, haine de son prochain, Dieu est excédé par les Hommes et décide, motivé par un Saint Pierre un poil à cran, de sonner le temps de l’Apocalypse ! Mais avant de balancer des boules de feu sur ceux qu’il a faits à son image, il laisse aux Hommes une dernière chance et choisit de renvoyer sur Terre… le Messie. Son fils, Jésus. Pour qu’il finisse le seul job qu’il lui avait demandé il y a de ça 2000 ans et des poussières, enlever le péché du monde. Mission que Jésus avait plutôt bien foirée en finissant en slip cloué à une croix. Jésus doit donc redescendre sur Terre pour sauver les Hommes. Sauf qu’il est moyen chaud.",
      "first_air_date": "2016-12-08",
      "origin_country": [
        "FR"
      ],
      "genre_ids": [
        35
      ],
      "original_language": "fr",
      "vote_count": 1,
      "name": "José",
      "original_name": "José"
    },
    {
      "poster_path": "/1siTKg0PP1208McNNy2p0YGvyGn.jpg",
      "popularity": 6.067196,
      "id": 68856,
      "backdrop_path": "/vyMhuzjWG3KBMQs8FERb3CH2K6p.jpg",
      "vote_average": 1.75,
      "overview": "",
      "first_air_date": "2016-12-08",
      "origin_country": [],
      "genre_ids": [
        10764
      ],
      "original_language": "en",
      "vote_count": 2,
      "name": "The Selection: Special Operations Experiment",
      "original_name": "The Selection: Special Operations Experiment"
    },
    {
      "poster_path": "/mVFrs4yy5c80q8ebyORSXbxoO20.jpg",
      "popularity": 5.321075,
      "id": 68761,
      "backdrop_path": "/iW7WKXRKakega45fFR4Eyrlmfbp.jpg",
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2016-12-07",
      "origin_country": [
        "GB"
      ],
      "genre_ids": [
        80,
        18
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "In Plain Sight",
      "original_name": "In Plain Sight"
    },
    {
      "poster_path": "/gVMxIAeZYk2rlS5g3cn29Vd93Ku.jpg",
      "popularity": 5.807786,
      "id": 68853,
      "backdrop_path": "/ejTAWJ3FgDThlgweU26707PvbiB.jpg",
      "vote_average": 0.5,
      "overview": "",
      "first_air_date": "2016-12-07",
      "origin_country": [
        "GB"
      ],
      "genre_ids": [
        99,
        18
      ],
      "original_language": "en",
      "vote_count": 1,
      "name": "Six Wives with Lucy Worsley",
      "original_name": "Six Wives with Lucy Worsley"
    },
    {
      "poster_path": "/hSBjuT7mfsqaooEvdDE1d8rcYP2.jpg",
      "popularity": 1.000336,
      "id": 68734,
      "backdrop_path": "/sNIq4S8ozF9hggI6qGumOQ3TTJL.jpg",
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2016-12-06",
      "origin_country": [],
      "genre_ids": [
        80,
        18
      ],
      "original_language": "es",
      "vote_count": 0,
      "name": "El Chema",
      "original_name": "El Chema"
    },
    {
      "poster_path": "/fqECVqggkbRxvO1roxRhF0mDjiS.jpg",
      "popularity": 4.428292,
      "id": 68879,
      "backdrop_path": null,
      "vote_average": 5,
      "overview": "",
      "first_air_date": "2016-12-05",
      "origin_country": [
        "KR"
      ],
      "genre_ids": [
        35
      ],
      "original_language": "ko",
      "vote_count": 1,
      "name": "첫키스만 일곱번째",
      "original_name": "첫키스만 일곱번째"
    },
    {
      "poster_path": null,
      "popularity": 2.25,
      "id": 69080,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2016-12-04",
      "origin_country": [],
      "genre_ids": [],
      "original_language": "he",
      "vote_count": 0,
      "name": "או בוי",
      "original_name": "או בוי"
    },
    {
      "poster_path": "/tep9cZrzC7QfaNrMlWqja774ada.jpg",
      "popularity": 4.368133,
      "id": 68866,
      "backdrop_path": "/lSsAHShsnDzrjyoQFrk57iFb5jp.jpg",
      "vote_average": 2.07,
      "overview": "",
      "first_air_date": "2016-12-04",
      "origin_country": [
        "CN"
      ],
      "genre_ids": [
        18
      ],
      "original_language": "zh",
      "vote_count": 7,
      "name": "美人私房菜",
      "original_name": "美人私房菜"
    },
    {
      "poster_path": "/v91l3iHfzkdGQiMXjUz3eCZ0YSp.jpg",
      "popularity": 5.738328,
      "id": 67915,
      "backdrop_path": null,
      "vote_average": 5.29,
      "overview": "",
      "first_air_date": "2016-12-02",
      "origin_country": [
        "KR"
      ],
      "genre_ids": [
        10765
      ],
      "original_language": "ko",
      "vote_count": 7,
      "name": "도깨비",
      "original_name": "도깨비"
    },
    {
      "poster_path": null,
      "popularity": 2.712758,
      "id": 68925,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2016-12-01",
      "origin_country": [],
      "genre_ids": [],
      "original_language": "fr",
      "vote_count": 0,
      "name": "Opérations Narcos",
      "original_name": "Opérations Narcos"
    },
    {
      "poster_path": "/jeIclWpJQohdDTSQIfZn1JF6giv.jpg",
      "popularity": 4.585905,
      "id": 68913,
      "backdrop_path": "/1PEO9Qvm7D9VqPzJHDqATICPUGw.jpg",
      "vote_average": 0.5,
      "overview": "",
      "first_air_date": "2016-12-01",
      "origin_country": [
        "NO"
      ],
      "genre_ids": [
        10751,
        10762
      ],
      "original_language": "no",
      "vote_count": 1,
      "name": "Snøfall",
      "original_name": "Snøfall"
    },
    {
      "poster_path": "/jkbbF1P79EL6Gnn0IallMIA0xKf.jpg",
      "popularity": 5.109953,
      "id": 68912,
      "backdrop_path": "/uNIbZ9k25fgNN0tL0viUakoIkI0.jpg",
      "vote_average": 0.5,
      "overview": "",
      "first_air_date": "2016-12-01",
      "origin_country": [
        "NO"
      ],
      "genre_ids": [
        10762,
        10751
      ],
      "original_language": "no",
      "vote_count": 1,
      "name": "Det store eksperimentet",
      "original_name": "Det store eksperimentet"
    },
    {
      "poster_path": "/qB6UkAHtiVRvWFbrcKRou3Q3OkB.jpg",
      "popularity": 2.536845,
      "id": 68946,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2016-11-30",
      "origin_country": [
        "SE"
      ],
      "genre_ids": [
        99
      ],
      "original_language": "sv",
      "vote_count": 0,
      "name": "Om kriget kom",
      "original_name": "Om kriget kom"
    },
    {
      "poster_path": "/c3BzB0sLs2Bc2DRq6jcWIwzORAP.jpg",
      "popularity": 7.89032,
      "id": 67684,
      "backdrop_path": "/dTcp50GZVvusHp9Bw9hRlOaTyhg.jpg",
      "vote_average": 8.33,
      "overview": "Basée dans un monde où les corporations ont des pouvoirs illimités, l'histoire suit un homme qui va essayer de défier le système.",
      "first_air_date": "2016-11-30",
      "origin_country": [
        "US"
      ],
      "genre_ids": [
        10765
      ],
      "original_language": "en",
      "vote_count": 7,
      "name": "Incorporated",
      "original_name": "Incorporated"
    }
  ],
  "total_results": 130,
  "total_pages": 7
}
