{
    "page": 1,
    "results": [{
        "poster_path": "\/luGF2ODxunHvDXWPRW9PjywIvuD.jpg",
        "popularity": 19.334851,
        "id": 63247,
        "backdrop_path": "\/8GABbITnzhGuE2RAfWWK0BVdbNo.jpg",
        "vote_average": 7.27,
        "overview": "Un parc d'attractions peuplé de robots propose aux visiteurs de se replonger dans plusieurs époques. Lancés dans l'ouest sauvage, deux amis se retrouvent plongés en plein cauchemar quand l'un des androïdes se détraque et les prend en chasse...",
        "first_air_date": "2016-10-02",
        "origin_country": ["US"],
        "genre_ids": [37, 878],
        "original_language": "en",
        "vote_count": 308,
        "name": "Westworld",
        "original_name": "Westworld"
    }, {
        "poster_path": "\/mWNadwBZIx8NyEw4smGftYtHHrE.jpg",
        "popularity": 6.444561,
        "id": 1437,
        "backdrop_path": "\/qlJB8bkK1JXAQ0m02OYS1ArS6DZ.jpg",
        "vote_average": 7.96,
        "overview": "Après une guerre civile qui a permis à l'Union des Planètes de dominer l'espace, le capitaine Malcolm Reynolds et son équipage s'efforcent de survivre à bord du vaisseau Serenity en effectuant diverses missions (transport de marchandises ou une mission de sauvetage...) sans trop se soucier de la légalité.",
        "first_air_date": "2002-09-20",
        "origin_country": ["US"],
        "genre_ids": [37, 18, 10759, 10765],
        "original_language": "en",
        "vote_count": 237,
        "name": "Firefly",
        "original_name": "Firefly"
    }, {
        "poster_path": "\/7tXBtP5jExj9gRztWmcfFbOCx25.jpg",
        "popularity": 4.999963,
        "id": 1401,
        "backdrop_path": "\/144sKAEfXdM2VNrZzHuMSUr9zAa.jpg",
        "vote_average": 6.51,
        "overview": "Cullen Bohannan, un ancien propriétaire d’esclaves et soldat, est déterminé à venger le viol et le meurtre de sa femme en traquant et tuant les soldats de l’Union responsables. Il se retrouve alors dans le Nebraska à l'époque de la construction de la ligne ferroviaire transcontinentale.",
        "first_air_date": "2011-11-06",
        "origin_country": ["US"],
        "genre_ids": [28, 12, 18, 37],
        "original_language": "en",
        "vote_count": 75,
        "name": "Hell on Wheels : L'Enfer de l'Ouest  ",
        "original_name": "Hell on Wheels"
    }, {
        "poster_path": "\/aHIHwuVatcTuPdgPHmqaxhnxL3v.jpg",
        "popularity": 4.851936,
        "id": 3713,
        "backdrop_path": "\/dmCz50Jj5LWZp8o3wWjUL0JKGtm.jpg",
        "vote_average": 3.75,
        "overview": "",
        "first_air_date": "1955-09-10",
        "origin_country": ["US"],
        "genre_ids": [37, 10759],
        "original_language": "en",
        "vote_count": 8,
        "name": "Gunsmoke",
        "original_name": "Gunsmoke"
    }, {
        "poster_path": "\/M8HjXeXQy4Ta4MOrCmMHLr8pBl.jpg",
        "popularity": 3.787042,
        "id": 1406,
        "backdrop_path": "\/vg6j3QrZWjabZAt16j3ayKDhOh5.jpg",
        "vote_average": 7.89,
        "overview": "La ruée vers l'or, à l'Ouest des Etats-Unis, mène toute une population à migrer vers des terres plus arides. Parmi eux, beaucoup de criminels et de malfrats en tous genres, prêts à s'installer sur ces nouvelles contrées et y faire commerce... et ainsi profiter des arrivants. Deadwood est une de ces villes nouvelles autour desquelles se greffent les hommes avides d'or, les familles venues de loin, et les rapaces de toutes sortes. L'endroit idéal pour commencer une nouvelle vie, et, si possible, une nouvelle fortune... Proche des territoires indiens, et en des temps troubles, Deadwood est un poste avancé dans la colonisation des terres de l'ouest, et est témoin de son temps : la série commence deux semaines après la cuisante défaite du Général Custer contre Little Big Horn, alors que Deadwood se situe sur des territoires indiens - et est donc illégale par sa seule existence.",
        "first_air_date": "2004-03-21",
        "origin_country": ["US"],
        "genre_ids": [37, 18],
        "original_language": "en",
        "vote_count": 61,
        "name": "Deadwood",
        "original_name": "Deadwood"
    }, {
        "poster_path": "\/eTSfZyhBYGkleClh1GlbpDjDzXg.jpg",
        "popularity": 3.709619,
        "id": 13859,
        "backdrop_path": "\/udGZ9qcfJ7cQNqwA8bKeFIZxE9t.jpg",
        "vote_average": 7.9,
        "overview": "",
        "first_air_date": "1958-09-30",
        "origin_country": ["US"],
        "genre_ids": [10759, 37],
        "original_language": "en",
        "vote_count": 5,
        "name": "The Rifleman",
        "original_name": "The Rifleman"
    }, {
        "poster_path": "\/vSxm5vGK4cmg31T9jsERdPoA0d6.jpg",
        "popularity": 3.665343,
        "id": 1781,
        "backdrop_path": "\/7KEW0E9taysGjKBSwV6g0FeVdDJ.jpg",
        "vote_average": 6.76,
        "overview": "Cette série raconte l'histoire d'une famille de fermiers, au XIXe siècle, venue s'installer dans le Minnesota à Plum Creek non loin d'un village nommé Walnut Grove. Elle retrace la vie de Laura Ingalls, l'héroïne, depuis son arrivée dans le village jusqu'à sa vie de mère de famille et d'institutrice de Walnut Grove.",
        "first_air_date": "1974-09-11",
        "origin_country": ["US"],
        "genre_ids": [37, 18],
        "original_language": "en",
        "vote_count": 21,
        "name": "La petite maison dans la prairie",
        "original_name": "The Little House on the Prairie"
    }, {
        "poster_path": "\/wabysfY9FpwinztLwm1WozwZJjj.jpg",
        "popularity": 3.563646,
        "id": 13837,
        "backdrop_path": "\/5zNaNc2g9op9EfSwSMJTK8gGsY6.jpg",
        "vote_average": 4,
        "overview": "Josh Randall est un chasseur de primes. Ses deux crédos sont l'honnêteté et la morale. Cet homme prudent choisira d'utiliser la ruse plutôt que sa fameuse Winchester modèle 1892 calibre 40\/44 à crosse et canon sciés qu'il appelle \"Mare's Laig\" (patte de jument). Ce \"héros\" est loin de l'image traditionnelle du cow-boy car s'il reste solitaire et indépendant, ses affaires ne sont pas forcément des plus glorieuses. Il est au service de la justice et de toutes les justices... ",
        "first_air_date": "1958-09-06",
        "origin_country": ["US"],
        "genre_ids": [37],
        "original_language": "en",
        "vote_count": 2,
        "name": "Au nom de la loi",
        "original_name": "Wanted: Dead or Alive"
    }, {
        "poster_path": "\/as4DjLsIYHsjTAZCicXVEcMbYK.jpg",
        "popularity": 3.156821,
        "id": 14328,
        "backdrop_path": "\/3yj3DrDkZIv8AQm3jQ5wigZCh9R.jpg",
        "vote_average": 0,
        "overview": "",
        "first_air_date": "1956-10-05",
        "origin_country": ["US"],
        "genre_ids": [37, 18],
        "original_language": "en",
        "vote_count": 0,
        "name": "Dick Powell's Zane Grey Theater",
        "original_name": "Dick Powell's Zane Grey Theater"
    }, {
        "poster_path": "\/sPc1NpEPHdLWMHS62X4KsOowVvH.jpg",
        "popularity": 2.631309,
        "id": 947,
        "backdrop_path": "\/wz0DXoxTarKXtzLuA9SBVE9r2jF.jpg",
        "vote_average": 8,
        "overview": "",
        "first_air_date": "1955-09-20",
        "origin_country": ["US"],
        "genre_ids": [10759, 37],
        "original_language": "en",
        "vote_count": 2,
        "name": "Cheyenne",
        "original_name": "Cheyenne"
    }, {
        "poster_path": "\/2C63og6cot9JhoO1uHfWfHMJe0T.jpg",
        "popularity": 2.5906,
        "id": 4324,
        "backdrop_path": "\/bCScmtI4JVeXW3mHYb9FGTxPpb6.jpg",
        "vote_average": 5.38,
        "overview": "À Colorado Springs, au 19ème siècle, l'arrivée d'une femme médecin va changer la vie des habitants de cette petite bourgade traditionnelle.",
        "first_air_date": "1993-01-01",
        "origin_country": ["US"],
        "genre_ids": [37, 18],
        "original_language": "en",
        "vote_count": 8,
        "name": "Docteur Quinn, femme médecin",
        "original_name": "Dr. Quinn, Medicine Woman"
    }, {
        "poster_path": "\/d52RTqWrbmc40KxiogWPCNxoXfM.jpg",
        "popularity": 2.499725,
        "id": 953,
        "backdrop_path": "\/xcsDVf8gdhHBbsAs8P6lUPwFEpy.jpg",
        "vote_average": 8.75,
        "overview": "Brett Maverick et Bart sont des joueurs affutés qui migrent de ville en ville à la recherche d'une bonne partie de poker. Le poker (à 5 cartes de tirage) est leur occupation favorite, le spectacle se fait autour des Mavericks, mais généralement la partie tourne autour du personnage principal.",
        "first_air_date": "1957-09-22",
        "origin_country": ["US"],
        "genre_ids": [35, 37],
        "original_language": "en",
        "vote_count": 6,
        "name": "Maverick",
        "original_name": "Maverick"
    }, {
        "poster_path": null,
        "popularity": 2.465306,
        "id": 12789,
        "backdrop_path": null,
        "vote_average": 0,
        "overview": "",
        "first_air_date": "1958-09-23",
        "origin_country": ["US"],
        "genre_ids": [37],
        "original_language": "en",
        "vote_count": 0,
        "name": "Bronco",
        "original_name": "Bronco"
    }, {
        "poster_path": "\/yHXwkExaz41IQZEIHqC6DVdfdOu.jpg",
        "popularity": 2.382099,
        "id": 13899,
        "backdrop_path": "\/wTDYYHEzFjdvIMgFm9VZD6DXDWx.jpg",
        "vote_average": 0,
        "overview": "",
        "first_air_date": "1959-09-15",
        "origin_country": ["US"],
        "genre_ids": [37],
        "original_language": "en",
        "vote_count": 0,
        "name": "Laramie",
        "original_name": "Laramie"
    }, {
        "poster_path": "\/pymn9AQD0Id1FH1Q6spMcNELA5K.jpg",
        "popularity": 2.375691,
        "id": 65988,
        "backdrop_path": "\/ziXlfz9WsTYHF6vGz2wdCnWdrz8.jpg",
        "vote_average": 6.09,
        "overview": "Descendante du légendaire as de la gâchette Wyatt Earp, l'effrontée Wynonna Earp n'a peur de rien. De retour dans sa ville natale, elle combat les vampires et autres démons tués par son arrière-arrière grand-père, qui reviennent hanter les vivants à cause d'une malédiction qui pèse sur sa famille depuis plusieurs générations. Grâce à des dons exceptionnels et d'improbables alliés, la jeune femme traque les créatures surnaturelles.",
        "first_air_date": "2016-04-01",
        "origin_country": ["US"],
        "genre_ids": [10759, 10765, 37],
        "original_language": "en",
        "vote_count": 29,
        "name": "Wynonna Earp",
        "original_name": "Wynonna Earp"
    }, {
        "poster_path": "\/c2ABqnVHgkVUcDA05xP3GsC3Fc2.jpg",
        "popularity": 2.308556,
        "id": 10980,
        "backdrop_path": "\/6iB8ScqxkrCtRLK43zEN3lQ7Mx4.jpg",
        "vote_average": 7.7,
        "overview": "",
        "first_air_date": "1957-09-14",
        "origin_country": ["US"],
        "genre_ids": [37, 10759],
        "original_language": "en",
        "vote_count": 5,
        "name": "Have Gun – Will Travel",
        "original_name": "Have Gun – Will Travel"
    }, {
        "poster_path": "\/dTxukwkJoBSvj1iJZLA1FJKFXqi.jpg",
        "popularity": 2.298243,
        "id": 43901,
        "backdrop_path": "\/3bsp6rCOglso40e2DCCy7gIDrG1.jpg",
        "vote_average": 6.86,
        "overview": "Walt Longmire, le charismatique et dévoué shérif du comté d'Absaroka dans le Wyoming, est veuf depuis une année. Accablé par le chagrin, il a laissé son équipe se débrouiller sans lui durant plusieurs mois. Avec l’aide de sa nouvelle adjointe, Vic, il trouve la force d’aller de l’avant, reprenant goût à son travail et reconstruisant sa vie, pas à pas. Il est même prêt à se représenter pour un nouveau mandat face à Branch Connally , un jeune adjoint très ambitieux mais sans grande expérience. Heureusement, Longmire peut compter sur le soutien indéfectible de son vieil ami, un indien répondant au nom d’Henry.",
        "first_air_date": "2012-06-03",
        "origin_country": ["US"],
        "genre_ids": [18, 37],
        "original_language": "en",
        "vote_count": 29,
        "name": "Longmire",
        "original_name": "Longmire"
    }, {
        "poster_path": "\/tLFkDsTup2KHngL9vRW2aShaibc.jpg",
        "popularity": 2.187392,
        "id": 1018,
        "backdrop_path": "\/opws49bSwhSWgYXivJi5hGfaTAr.jpg",
        "vote_average": 3.71,
        "overview": "",
        "first_air_date": "1959-09-12",
        "origin_country": ["US"],
        "genre_ids": [37, 10759],
        "original_language": "en",
        "vote_count": 7,
        "name": "Bonanza",
        "original_name": "Bonanza"
    }, {
        "poster_path": "\/3pHV4GNXclbYf0g0OGW8qg6lblH.jpg",
        "popularity": 2.054839,
        "id": 10180,
        "backdrop_path": "\/gP3CKIcDKYRXkOXblkLEzAf2G0I.jpg",
        "vote_average": 0,
        "overview": "",
        "first_air_date": "1962-09-19",
        "origin_country": ["US"],
        "genre_ids": [37, 18],
        "original_language": "en",
        "vote_count": 0,
        "name": "The Virginian",
        "original_name": "The Virginian"
    }, {
        "poster_path": "\/P9are8u00Mkt2bidVDXJz8BsUB.jpg",
        "popularity": 2.03551,
        "id": 10929,
        "backdrop_path": "\/wuyd5VxzXmqO3G94sy7EoVe383X.jpg",
        "vote_average": 7.9,
        "overview": "Dans les années 1880, James West et Artemus Gordon, deux agents des Services Secrets américains, doivent faire face à tous types de menaces. L'un est homme d'action et homme à femme ; l'autre est inventeur et spécialiste du déguisement. Ce duo de choc a pour grand ennemi le Dr. Loveless, expert en création d'engins destructeurs.",
        "first_air_date": "1965-09-17",
        "origin_country": ["US"],
        "genre_ids": [37, 18, 35, 10759],
        "original_language": "en",
        "vote_count": 5,
        "name": "Les Mystères de l'ouest",
        "original_name": "The Wild Wild West"
    }],
    "total_results": 235,
    "total_pages": 12
}
