https://api.themoviedb.org/3/search/tv?api_key=fc533e12b849e49e74ab5d046165bcc7&language=fr-FR&query=flash&page=1

{
  "page": 1,
  "results": [
    {
      "poster_path": "/lUFK7ElGCk9kVEryDJHICeNdmd1.jpg",
      "popularity": 27.935263,
      "id": 60735,
      "backdrop_path": "/mmxxEpTqVdwBlu5Pii7tbedBkPC.jpg",
      "vote_average": 6.61,
      "overview": "Jeune expert de la police scientifique de Central City, Barry Allen se retrouve doté d'une vitesse extraordinaire après avoir été frappé par la foudre. Sous le costume de Flash, il utilise ses nouveaux pouvoirs pour combattre le crime.",
      "first_air_date": "2014-10-07",
      "origin_country": [
        "US"
      ],
      "genre_ids": [
        18,
        10765
      ],
      "original_language": "en",
      "vote_count": 567,
      "name": "Flash",
      "original_name": "The Flash"
    },
    {
      "poster_path": "/abxIKXvwtNByR5DuYs7M0cIXjWo.jpg",
      "popularity": 2.9416,
      "id": 236,
      "backdrop_path": "/3JPFgvsnZfYsb6NPqlxdXK8RmgH.jpg",
      "vote_average": 6.4,
      "overview": "Un soir, alors qu'il travaille dans son laboratoire, Barry Allen est victime d'un accident. Electrocuté et aspergé de produits chimiques, il perd conscience. A son réveil, il découvre qu'il a le pouvoir de se déplacer à une vitesse extraordinaire. Christina McGee, une de ses collègues, va désormais l'aider à canaliser son don et à devenir... Flash !",
      "first_air_date": "1990-09-20",
      "origin_country": [
        "US"
      ],
      "genre_ids": [
        28,
        80,
        18,
        14
      ],
      "original_language": "en",
      "vote_count": 5,
      "name": "Flash",
      "original_name": "The Flash"
    },
    {
      "poster_path": "/arY4mDp1bFqycklspaVQhcRZbTl.jpg",
      "popularity": 1.299903,
      "id": 1225,
      "backdrop_path": "/8kekgFQM8CdTHE9rkROrxGTBr0y.jpg",
      "vote_average": 5.33,
      "overview": "",
      "first_air_date": "2007-08-10",
      "origin_country": [
        "US",
        "CA"
      ],
      "genre_ids": [
        10759,
        35,
        18,
        10765
      ],
      "original_language": "en",
      "vote_count": 3,
      "name": "Flash Gordon",
      "original_name": "Flash Gordon"
    },
    {
      "poster_path": null,
      "popularity": 1.043148,
      "id": 10371,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "1996-09-07",
      "origin_country": [
        "CA",
        "US"
      ],
      "genre_ids": [
        35
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flash Forward",
      "original_name": "Flash Forward"
    },
    {
      "poster_path": null,
      "popularity": 1.035831,
      "id": 3464,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [
        "US"
      ],
      "genre_ids": [
        16,
        10765
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flash Gordon",
      "original_name": "Flash Gordon"
    },
    {
      "poster_path": "/d9eUSGL79WsQ48cv7CjPE6OapfR.jpg",
      "popularity": 1.001529,
      "id": 15116,
      "backdrop_path": "/7WdaPga3OKIF4aRGaNVxZjEYg7x.jpg",
      "vote_average": 0,
      "overview": "",
      "first_air_date": "1954-10-15",
      "origin_country": [
        "US"
      ],
      "genre_ids": [
        18,
        10765
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flash Gordon",
      "original_name": "Flash Gordon"
    },
    {
      "poster_path": "/ysXOY5IZRD2KDT5wNoqJLMqVcZJ.jpg",
      "popularity": 1.003833,
      "id": 11844,
      "backdrop_path": "/3VcgO3fIz3SjdHvGMSdKKNDBQSs.jpg",
      "vote_average": 0,
      "overview": "",
      "first_air_date": "1979-09-08",
      "origin_country": [
        "US"
      ],
      "genre_ids": [
        16
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "The New Adventures of Flash Gordon",
      "original_name": "The New Adventures of Flash Gordon"
    },
    {
      "poster_path": null,
      "popularity": 1.001216,
      "id": 17354,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "1944-07-16",
      "origin_country": [],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Quick as a Flash",
      "original_name": "Quick as a Flash"
    },
    {
      "poster_path": "/kh8dybP3MkXTBXIcMAHOysmBYkO.jpg",
      "popularity": 1.00091,
      "id": 36001,
      "backdrop_path": "/4iP8X9HM6x82UhzUIYojTKCF6Gt.jpg",
      "vote_average": 0,
      "overview": "",
      "first_air_date": "1997-02-15",
      "origin_country": [
        "JP"
      ],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Cutie Honey Flash",
      "original_name": "Cutie Honey Flash"
    },
    {
      "poster_path": null,
      "popularity": 1.000001,
      "id": 16292,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [
        "PH"
      ],
      "genre_ids": [
        10765
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "Komiks Presents: Flash Bomba",
      "original_name": "Komiks Presents: Flash Bomba"
    },
    {
      "poster_path": null,
      "popularity": 1.000001,
      "id": 21802,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [
        "AU"
      ],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flash Nick From Jindavick",
      "original_name": "Flash Nick From Jindavick"
    },
    {
      "poster_path": null,
      "popularity": 1,
      "id": 3025,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [
        "PH"
      ],
      "genre_ids": [
        10763
      ],
      "original_language": "en",
      "vote_count": 0,
      "name": "GMA Flash Report",
      "original_name": "GMA Flash Report"
    },
    {
      "poster_path": "/a7UuaK3zniYzR5OrQ6FvMGQB3jg.jpg",
      "popularity": 2.502465,
      "id": 5829,
      "backdrop_path": "/1NUz7KgZgY1yPo0PrOBlM4IQoRX.jpg",
      "vote_average": 5.71,
      "overview": "Une plongée dans la vie des membres de la Strategic Response Unit, une force de police canadienne spécialisée dans les opérations paramilitaires. Prises d'otages, désamorçages de bombes, démantèlements de gangs... Tous les jours, ces policiers pas comme les autres mettent leur vie en jeu pour sauver celles des autres.",
      "first_air_date": "2008-07-11",
      "origin_country": [
        "CA"
      ],
      "genre_ids": [
        18,
        10759
      ],
      "original_language": "en",
      "vote_count": 14,
      "name": "Flashpoint",
      "original_name": "Flashpoint"
    },
    {
      "poster_path": "/p369uDrWAERS3vikrSDk6x0oJV2.jpg",
      "popularity": 1.889505,
      "id": 19092,
      "backdrop_path": "/pPhiDdmdsXOrtpV6UHaSP2V21Cc.jpg",
      "vote_average": 6.66,
      "overview": "Un blackout total de 2 minutes et 17 secondes provoque le chaos à travers le monde. Pendant cette courte durée, chaque personne est confrontée à une vision du futur qui va changer sa vie à jamais...",
      "first_air_date": "2009-09-24",
      "origin_country": [
        "US"
      ],
      "genre_ids": [
        18
      ],
      "original_language": "en",
      "vote_count": 35,
      "name": "FlashForward",
      "original_name": "FlashForward"
    },
    {
      "poster_path": null,
      "popularity": 1.09,
      "id": 28038,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [
        "AU"
      ],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flashback",
      "original_name": "Flashback"
    },
    {
      "poster_path": null,
      "popularity": 1.000002,
      "id": 21903,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [
        "AU"
      ],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flashez",
      "original_name": "Flashez"
    },
    {
      "poster_path": null,
      "popularity": 1,
      "id": 60455,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flashback",
      "original_name": "Flashback"
    },
    {
      "poster_path": null,
      "popularity": 1,
      "id": 33285,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flashback",
      "original_name": "Flashback"
    },
    {
      "poster_path": null,
      "popularity": 1.006,
      "id": 38796,
      "backdrop_path": "/wjYBisUFtXyoxLGcEq2eNEN8xgS.jpg",
      "vote_average": 0,
      "overview": "",
      "first_air_date": "2011-03-24",
      "origin_country": [
        "NL"
      ],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "Flashback (NL)",
      "original_name": "Flashback (NL)"
    },
    {
      "poster_path": null,
      "popularity": 1,
      "id": 58502,
      "backdrop_path": null,
      "vote_average": 0,
      "overview": "",
      "first_air_date": "",
      "origin_country": [
        "US"
      ],
      "genre_ids": [],
      "original_language": "en",
      "vote_count": 0,
      "name": "8-Track Flashback",
      "original_name": "8-Track Flashback"
    }
  ],
  "total_results": 24,
  "total_pages": 2
}
