https://api.themoviedb.org/3/tv/1402?api_key=fc533e12b849e49e74ab5d046165bcc7&language=fr-FR


{
  "backdrop_path": "/zYFQM9G5j9cRsMNMuZAX64nmUMf.jpg",
  "created_by": [
    {
      "id": 4027,
      "name": "Frank Darabont",
      "profile_path": "/9KVvZtDyy8DXacw2TTsjC9VLxQi.jpg"
    }
  ],
  "episode_run_time": [
    42,
    60,
    45
  ],
  "first_air_date": "2010-10-31",
  "genres": [
    {
      "id": 10759,
      "name": "Action & Adventure"
    },
    {
      "id": 18,
      "name": "Drame"
    }
  ],
  "homepage": "http://www.amctv.com/shows/the-walking-dead/",
  "id": 1402,
  "in_production": true,
  "languages": [
    "en"
  ],
  "last_air_date": "2016-12-11",
  "name": "The Walking Dead",
  "networks": [
    {
      "id": 174,
      "name": "AMC"
    }
  ],
  "number_of_episodes": 91,
  "number_of_seasons": 7,
  "origin_country": [
    "US"
  ],
  "original_language": "en",
  "original_name": "The Walking Dead",
  "overview": "Après une apocalypse ayant transformé la quasi-totalité de la population en zombies, un groupe d'hommes et de femmes mené par l'officier Rick Grimes tente de survivre...",
  "popularity": 59.132687,
  "poster_path": "/vxuoMW6YBt6UsxvMfRNwRl9LtWS.jpg",
  "production_companies": [
    {
      "name": "Darkwoods Productions",
      "id": 3982
    },
    {
      "name": "American Movie Classics (AMC)",
      "id": 4854
    },
    {
      "name": "Valhalla Motion Pictures",
      "id": 11533
    },
    {
      "name": "AMC Studios",
      "id": 23242
    },
    {
      "name": "Circle of Confusion",
      "id": 23921
    }
  ],
  "seasons": [
    {
      "air_date": "2010-10-11",
      "episode_count": 36,
      "id": 3646,
      "poster_path": "/dJ8jOjIwgG6CybD4X5rTunO4cZ6.jpg",
      "season_number": 0
    },
    {
      "air_date": "2010-10-31",
      "episode_count": 6,
      "id": 3643,
      "poster_path": "/yaOB2Y8GcoXwjNQ3apq67bMbNHF.jpg",
      "season_number": 1
    },
    {
      "air_date": "2011-10-16",
      "episode_count": 13,
      "id": 3644,
      "poster_path": "/wpG9SDyz23t3vU8dTbtSvEkxv8r.jpg",
      "season_number": 2
    },
    {
      "air_date": "2012-10-14",
      "episode_count": 16,
      "id": 3645,
      "poster_path": "/mDVPeQ5ZaaeO2Qh7VlXZchHHuLN.jpg",
      "season_number": 3
    },
    {
      "air_date": "2013-10-13",
      "episode_count": 16,
      "id": 3647,
      "poster_path": "/pLXlKKQOoUZAjWsXwacZCj6SWIb.jpg",
      "season_number": 4
    },
    {
      "air_date": "2014-10-12",
      "episode_count": 16,
      "id": 60391,
      "poster_path": "/oiQbg5WqdHqBWMrtbzJeS6vb2Lt.jpg",
      "season_number": 5
    },
    {
      "air_date": "2015-10-11",
      "episode_count": 16,
      "id": 68814,
      "poster_path": "/kwVAeAA6TlZWr6lRP2yVTyR2aif.jpg",
      "season_number": 6
    },
    {
      "air_date": "2016-10-23",
      "episode_count": 8,
      "id": 76834,
      "poster_path": "/nO2rbewsaek4J1M6sN3PsS5Sf2C.jpg",
      "season_number": 7
    }
  ],
  "status": "Returning Series",
  "type": "Scripted",
  "vote_average": 7.3,
  "vote_count": 927
}
