{
    "page": 1,
    "results": [{
        "poster_path": "\/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg",
        "popularity": 15.261544,
        "id": 1396,
        "backdrop_path": "\/eSzpy96DwBujGFj0xMbXBcGcfxX.jpg",
        "vote_average": 7.98,
        "overview": "Walter White, 50 ans, est professeur de chimie dans un lycée du Nouveau-Mexique. Pour subvenir aux besoins de Skyler, sa femme enceinte, et de Walt Junior, son fils handicapé, il est obligé de travailler doublement. Son quotidien déjà morose devient carrément noir lorsqu'il apprend qu'il est atteint d'un incurable cancer des poumons. Les médecins ne lui donnent pas plus de deux ans à vivre. Pour réunir rapidement beaucoup d'argent afin de mettre sa famille à l'abri, Walter ne voit plus qu'une solution : mettre ses connaissances en chimie à profit pour fabriquer et vendre du crystal meth, une drogue de synthèse qui rapporte beaucoup. Il propose à Jesse, un de ses anciens élèves devenu un petit dealer de seconde zone, de faire équipe avec lui. Le duo improvisé met en place un labo itinérant dans un vieux camping-car. Cette association inattendue va les entraîner dans une série de péripéties tant comiques que pathétiques.",
        "first_air_date": "2008-01-19",
        "origin_country": ["US"],
        "genre_ids": [18],
        "original_language": "en",
        "vote_count": 881,
        "name": "Breaking Bad",
        "original_name": "Breaking Bad"
    }, {
        "poster_path": "\/e2gDXjL0OyrApzMM3SaaOj9TKGP.jpg",
        "popularity": 4.911005,
        "id": 3936,
        "backdrop_path": "\/y6LnE2qJIZ52V5wkS0VY3NFTM92.jpg",
        "vote_average": 7.9,
        "overview": "Tom et Jerry, le chat et la souris les plus célèbres des dessins animés",
        "first_air_date": "1940-02-10",
        "origin_country": ["US"],
        "genre_ids": [16, 35],
        "original_language": "en",
        "vote_count": 29,
        "name": "Tom and Jerry",
        "original_name": "Tom and Jerry"
    }, {
        "poster_path": "\/osCfTYXIfzmSaeKhWU3eMFkb56m.jpg",
        "popularity": 2.97849,
        "id": 30991,
        "backdrop_path": "\/1H0fM4ENql3fHa1VGnHz5qLiNxB.jpg",
        "vote_average": 7.87,
        "overview": "Sur la planète Mars, en 2071, un camion-citerne explose dans le cratère d'Alba City. Aux dizaines de victimes tuées par l'explosion s'ajoutent des centaines de personnes qui succombent à une mystérieuse maladie. Les autorités soupçonnent une attaque biologique terroriste et offrent une énorme récompense pour la capture des responsables.\n\nSans un sou en poche, les chasseurs de prime du Bebop voient là l'occasion de se renflouer et entament leur enquête. Une ombre entraperçue, une capsule de poison, un consortium pharmaceutique, un tatouage, un suspect mort depuis longtemps et une unité militaire spéciale, telles sont les pièces du puzzle qu'il leur faudra rassembler pour espérer percer le secret...",
        "first_air_date": "1998-04-03",
        "origin_country": ["JP"],
        "genre_ids": [10759, 16, 10765],
        "original_language": "ja",
        "vote_count": 45,
        "name": "Cowboy Bebop",
        "original_name": "カウボーイビバップ"
    }, {
        "poster_path": "\/mWNadwBZIx8NyEw4smGftYtHHrE.jpg",
        "popularity": 5.87676,
        "id": 1437,
        "backdrop_path": "\/qlJB8bkK1JXAQ0m02OYS1ArS6DZ.jpg",
        "vote_average": 7.86,
        "overview": "Après une guerre civile qui a permis à l'Union des Planètes de dominer l'espace, le capitaine Malcolm Reynolds et son équipage s'efforcent de survivre à bord du vaisseau Serenity en effectuant diverses missions (transport de marchandises ou une mission de sauvetage...) sans trop se soucier de la légalité.",
        "first_air_date": "2002-09-20",
        "origin_country": ["US"],
        "genre_ids": [37, 18, 10759, 10765],
        "original_language": "en",
        "vote_count": 227,
        "name": "Firefly",
        "original_name": "Firefly"
    }, {
        "poster_path": "\/6R3PCqGzyTh12Lafhop0U0MNJDz.jpg",
        "popularity": 4.134824,
        "id": 1104,
        "backdrop_path": "\/jLYR42fOcE3balZ9svvJM0Rus91.jpg",
        "vote_average": 7.82,
        "overview": "Dans le New York des années 60, Don Draper est l'un des grands noms de la pub. Maître manipulateur, il compte dans son entourage des ennemis qui attendent sa chute.",
        "first_air_date": "2007-07-19",
        "origin_country": ["US"],
        "genre_ids": [18],
        "original_language": "en",
        "vote_count": 89,
        "name": "Mad Men",
        "original_name": "Mad Men"
    }, {
        "poster_path": "\/3iYNC7Iw6a65ed5GZz7KbInSHBd.jpg",
        "popularity": 24.477826,
        "id": 1399,
        "backdrop_path": "\/mUkuc2wyV9dHLG0D0Loaw5pO2s8.jpg",
        "vote_average": 7.82,
        "overview": "Il y a très longtemps, à une époque oubliée, une force a détruit l'équilibre des saisons. Dans un pays où l'été peut durer plusieurs années et l'hiver toute une vie, des forces sinistres et surnaturelles se pressent aux portes du Royaume des Sept Couronnes. La confrérie de la Garde de Nuit, protégeant le Royaume de toute créature pouvant provenir d'au-delà du Mur protecteur, n'a plus les ressources nécessaires pour assurer la sécurité de tous. Après un été de dix années, un hiver rigoureux s'abat sur le Royaume avec la promesse d'un avenir des plus sombres. Pendant ce temps, complots et rivalités se jouent sur le continent pour s'emparer du Trône de fer, le symbole du pouvoir absolu.",
        "first_air_date": "2011-04-17",
        "origin_country": ["US"],
        "genre_ids": [10765, 10759, 18],
        "original_language": "en",
        "vote_count": 1448,
        "name": "Game of Thrones",
        "original_name": "Game of Thrones"
    }, {
        "poster_path": "\/w7VV1jdtwzEC0c71AjUUA4T65Az.jpg",
        "popularity": 6.371106,
        "id": 1400,
        "backdrop_path": "\/AjqRKdzIqUoe0up306TaV99JfiU.jpg",
        "vote_average": 7.8,
        "overview": "Dans son propre rôle de comique, le bavard Jerry Seinfeld mène une vie qui ne le gâte pas tout le temps, notamment à cause des femmes. Avec son collaborateur malhonnête et son voisin loufoque, Jerry analyse toutes les petites choses du quotidien et les absurdités de la société.",
        "first_air_date": "1989-07-05",
        "origin_country": ["US"],
        "genre_ids": [35],
        "original_language": "en",
        "vote_count": 116,
        "name": "Seinfeld",
        "original_name": "Seinfeld"
    }, {
        "poster_path": "\/1IxcLYSuV7N3XZMoGCCJJKiVpQX.jpg",
        "popularity": 2.238345,
        "id": 2719,
        "backdrop_path": "\/AbjPWfHuUxwY9AmG5EbwHtn0TUs.jpg",
        "vote_average": 7.79,
        "overview": "",
        "first_air_date": "2000-05-12",
        "origin_country": ["GB"],
        "genre_ids": [35],
        "original_language": "en",
        "vote_count": 29,
        "name": "Coupling Six Sexy",
        "original_name": "Coupling"
    }, {
        "poster_path": "\/sskPK2HjkFaxam10eg0Hk1A3I2m.jpg",
        "popularity": 4.884717,
        "id": 60622,
        "backdrop_path": "\/qq1S5EjaaUrQAcMsn6raNFXpzHk.jpg",
        "vote_average": 7.78,
        "overview": "\"Lorne Malvo\", un escroc, manipulateur hors-pair, transforme la vie d'un modeste vendeur d'assurances d'une petite ville du Minnesota en enfer, laquelle vient d'être bousculée par un meurtre mystérieux...",
        "first_air_date": "2014-04-15",
        "origin_country": ["US"],
        "genre_ids": [80, 18, 53],
        "original_language": "en",
        "vote_count": 164,
        "name": "Fargo",
        "original_name": "Fargo"
    }, {
        "poster_path": "\/iiYFBpjAbQUzsu0k4LDvWqBiQzI.jpg",
        "popularity": 3.890128,
        "id": 2490,
        "backdrop_path": "\/fZoj7ZMLbBQjC8MvQjZ3XuzqLwp.jpg",
        "vote_average": 7.78,
        "overview": "Roy et Moss travaillent au service informatique de la société Reynolds Industries, grande et obscure entreprise londonienne. Relégué dans le sous-sol du bâtiment, leur vie va être chamboulée par l'arrivé de leur nouvelle responsable, Jen, qui ne connait manifestement rien au travail de responsable ni en informatique.",
        "first_air_date": "2006-02-03",
        "origin_country": ["GB"],
        "genre_ids": [35, 18],
        "original_language": "en",
        "vote_count": 97,
        "name": "The IT Crowd",
        "original_name": "The IT Crowd"
    }, {
        "poster_path": "\/tlbS1mqX2x5lVSyuxfTwDPwnTmD.jpg",
        "popularity": 5.853364,
        "id": 33907,
        "backdrop_path": "\/1d0LIjIl9LALWxKbc2Pcw7x9Yh9.jpg",
        "vote_average": 7.75,
        "overview": "Les héritiers de Downton Abbey ayant péri lors du naufrage du Titanic, la famille Crawley se retrouve dans une situation délicate : le domaine est soumis à l’entail, c'est-à-dire qu'il doit intégralement passer à un héritier mâle, le titre de Lord Grantham, le domaine et la fortune de la famille étant indissociables. Les trois filles ne peuvent prétendre ni au titre ni à l'héritage. Matthew Crawley, un lointain cousin, est le nouvel héritier. Il arrive à Downton Abbey où il découvre un style de vie nouveau pour lui, avec des règles très strictes qui régissent la vie entre aristocrates et serviteurs.",
        "first_air_date": "2010-09-26",
        "origin_country": ["GB"],
        "genre_ids": [18],
        "original_language": "en",
        "vote_count": 80,
        "name": "Downton Abbey",
        "original_name": "Downton Abbey"
    }, {
        "poster_path": "\/xV7FKNqOwnO3aJSiRM8WCrwdRS8.jpg",
        "popularity": 3.093866,
        "id": 16997,
        "backdrop_path": "\/jPT0fSpq1VPgqFbOgQgrG88u6ao.jpg",
        "vote_average": 7.75,
        "overview": "\"The Pacific\" (diffusé sur France 2 sous le nom de \"Band of Brothers : L'Enfer du Pacifique\") est basé sur deux mémoires du Corps des Marines des États-Unis : \"With the Old Breed at Peleliu and Okinawa\" d'Eugene Sledge, et \"Helmet for My Pillow\" de Robert Leckie. La série raconte les histoires des deux auteurs et du marine John Basilone, dans leur guerre contre l'Empire du Japon. Elle nous fait plonger au cœur de certaines batailles connues telles que la bataille de Guadalcanal, la bataille de Peleliu, la bataille d'Okinawa ou encore la bataille d'Iwo Jima.",
        "first_air_date": "2010-03-14",
        "origin_country": ["US"],
        "genre_ids": [36, 18, 12, 10752, 10759],
        "original_language": "en",
        "vote_count": 28,
        "name": "L'Enfer du Pacifique",
        "original_name": "The Pacific"
    }, {
        "poster_path": "\/lQhFuveyQH7W2WZu1PD1pPu6Jre.jpg",
        "popularity": 2.344105,
        "id": 37899,
        "backdrop_path": "\/2ykZDnNJR7oIPviNbAKJf9yGadm.jpg",
        "vote_average": 7.74,
        "overview": "Bien avant l’arrivée de Spartacus, la cité de Capoue se prépare à inaugurer une nouvelle arène gigantesque. Y faire combattre ses gladiateurs serait un honneur et une source de richesse pour tous les propriétaires de combattants de la région. Le jeune Batiatus fait partie de ceux-là, mais il ne fait que gérer l’affaire familiale en l’absence de son père. Il va pourtant user de tous les stratagèmes pour imposer ses gladiateurs, quitte à sombrer avec sa femme, Lucrétia, dans les excès les plus abjects… ",
        "first_air_date": "2011-01-21",
        "origin_country": ["US"],
        "genre_ids": [28, 12, 18],
        "original_language": "en",
        "vote_count": 37,
        "name": "Spartacus : Les dieux de l'arène",
        "original_name": "Spartacus: Gods of the Arena"
    }, {
        "poster_path": "\/2D5UOWyu23sd8U8LJpxRRkCTCmz.jpg",
        "popularity": 2.813098,
        "id": 45782,
        "backdrop_path": "\/ldBFxlcow2FYGRBUSVpCYo9jEfO.jpg",
        "vote_average": 7.74,
        "overview": "Les joueurs d'un jeu de rôles à réalité virtuelle appelée Sword Art Online, sont piégés et combattent pour leur vie. Par la suite, il est annoncé que la seule façon de quitter le jeu est en le complétant. Kirito, un guerrier très puissant, ainsi que ses amis embarquent dans une quête pour libérer tous les esprits piégés dans Aincrad.",
        "first_air_date": "2012-07-07",
        "origin_country": ["JP"],
        "genre_ids": [12, 28, 16, 10765],
        "original_language": "ja",
        "vote_count": 31,
        "name": "Sword Art Online",
        "original_name": "ソードアート・オンライン"
    }, {
        "poster_path": "\/qJdfO3ahgAMf2rcmhoqngjBBZW1.jpg",
        "popularity": 3.210943,
        "id": 60625,
        "backdrop_path": "\/pfTlxypaLQ8KHecKrD7EFcAzEUs.jpg",
        "vote_average": 7.73,
        "overview": "Rick est un scientifique âgé et déséquilibré qui a récemment renoué avec sa famille. Il passe le plus clair de son temps à entraîner son petit-fils Morty dans des aventures extraordinaires et dangereuses, à travers l'espace et dans des univers parallèles. Ajoutés à la vie de famille déjà instable de Morty, ces événements n'amènent qu'un surcroît de stress pour Morty, à la maison et au collège.",
        "first_air_date": "2013-12-02",
        "origin_country": ["US"],
        "genre_ids": [12, 16, 35, 878],
        "original_language": "en",
        "vote_count": 62,
        "name": "Rick et Morty",
        "original_name": "Rick and Morty"
    }, {
        "poster_path": "\/8ZfPKg1xTahEigpDA53bRmmLdvs.jpg",
        "popularity": 7.192274,
        "id": 655,
        "backdrop_path": "\/8LbtcZKbmzEN5p6LNOc7RGJdXrJ.jpg",
        "vote_average": 7.73,
        "overview": "Cette série raconte les aventures, au XXIVe siècle, du vaisseau USS Enterprise (NCC-1701-D), commandé par un capitaine d'origine française, Jean-Luc Picard, et de son équipage.",
        "first_air_date": "1987-09-28",
        "origin_country": ["US"],
        "genre_ids": [10759, 18, 10765, 9648],
        "original_language": "en",
        "vote_count": 128,
        "name": "Star Trek : La Nouvelle Génération",
        "original_name": "Star Trek: The Next Generation"
    }, {
        "poster_path": "\/o5CdzIeF1tZ2OMsDEfR5iAnRjvd.jpg",
        "popularity": 4.053483,
        "id": 95,
        "backdrop_path": "\/jEcm87wgNvWHPodiZNk5Bf3KdV4.jpg",
        "vote_average": 7.73,
        "overview": "A chaque génération il y a une élue. Seule elle devra affronter les vampires, les démons et les forces de l'ombre. Concilier scolarité difficile et affrontements nocturnes, ce n'est pas facile. Et c'est pourtant le quotidien de Buffy, une adolescente comme les autres avec ses problèmes affectifs et scolaires, mais qui la nuit part à la chasse aux vampires !",
        "first_air_date": "1997-03-10",
        "origin_country": ["US"],
        "genre_ids": [28, 35, 18, 14],
        "original_language": "en",
        "vote_count": 82,
        "name": "Buffy contre les vampires",
        "original_name": "Buffy the Vampire Slayer"
    }, {
        "poster_path": "\/s72omAW8LQshj1sdevGSPWOu3lR.jpg",
        "popularity": 1.498781,
        "id": 24835,
        "backdrop_path": "\/divBZkL8tC7N8i0c9k1TH7gStQP.jpg",
        "vote_average": 7.72,
        "overview": "Clannad TV présente la vie d'un jeune lycéen, Tomoya Okazaki , qui s'avère être un recalé, également vu par les autres comme un délinquant. Plutôt lassé de sa vie, ses journées s'avèrent être trop monotones, rien qui ne relève le défi de l'intéresser. Il espère donc voir sa vie changer un jour, et fait ainsi la rencontre de Nagisa Furukawa, étudiante dans le même lycée que lui, et qui semble plus mystérieuse qu'elle ne paraît. Ce dernier commence à faire des rêves étranges, peut-être liés à cette rencontre, et ne cesse de rencontrer une à une des filles ayant chacune des personnalités particulières. C'est ainsi que la vie de Tomoya sera bouleversée comme il ne l'aurait jamais imaginé !",
        "first_air_date": "2007-10-04",
        "origin_country": ["JP"],
        "genre_ids": [16, 35, 18, 10749],
        "original_language": "ja",
        "vote_count": 38,
        "name": "Clannad",
        "original_name": "クラナド"
    }, {
        "poster_path": "\/6wzfCXg2I2LBuaEjh7fkMHXBR9i.jpg",
        "popularity": 3.750271,
        "id": 1920,
        "backdrop_path": "\/3Y91NnZZyTS8UbgJUw3AZ6WWKTN.jpg",
        "vote_average": 7.72,
        "overview": "La mort mystérieuse de Teresa Banks dans la tranquille petite ville de Twin Peaks va donner bien du fil a retordre aux agents Dale Cooper et Chester Desmond qui vont mener une enquête en forme de charade et découvrir que bien des citoyens de la ville sont impliqués dans cette affaire. \n\nUn an plus tard, ce sont les sept derniers jours de Laura Palmer, qui se termineront par la mort brutale de cette dernière annonçant ainsi le début de Twin Peaks, le soap opera.",
        "first_air_date": "1990-04-08",
        "origin_country": ["US"],
        "genre_ids": [18, 9648, 53],
        "original_language": "en",
        "vote_count": 79,
        "name": "Twin Peaks",
        "original_name": "Twin Peaks"
    }, {
        "poster_path": "\/83mZf3gOBmx4b9cdbVBrW3jTE3U.jpg",
        "popularity": 4.959762,
        "id": 4613,
        "backdrop_path": "\/1LrtAhWPSEetJLjblXvnaYtl7eA.jpg",
        "vote_average": 7.72,
        "overview": "Vivez la Seconde Guerre Mondiale aux côtés de la Easy Company, un groupe de soldats américains. Suivez-les en tant que groupe, ou individuellement, depuis leur formation en 1942, jusqu'à la libération de l'Allemagne Nazie en 1945, en passant par leur parachutage en Normandie le 6 juin 1944.",
        "first_air_date": "2001-09-09",
        "origin_country": ["GB", "US"],
        "genre_ids": [18, 10768],
        "original_language": "en",
        "vote_count": 117,
        "name": "Frères d'armes",
        "original_name": "Band of Brothers"
    }],
    "total_results": 642,
    "total_pages": 33
}
