https://api.themoviedb.org/3/tv/44217/season/4?api_key=fc533e12b849e49e74ab5d046165bcc7&language=fr-FR

{
    "_id": "567cfb179251417def005f92",
    "air_date": "2016-02-18",
    "episodes": [{
        "air_date": "2016-02-18",
        "crew": [{
            "id": 1233099,
            "credit_id": "57a9e63792514111a70008fd",
            "name": "Ciaran Donnelly",
            "department": "Directing",
            "job": "Director",
            "profile_path": null
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 1,
        "guest_stars": [],
        "name": "Une bonne trahison",
        "overview": "Ragnar est toujours en vie, mais sa position à la tête du peuple de Kattegat est fragilisée par une lutte fratricide, sur le point de s'engager.",
        "id": 1149575,
        "production_code": null,
        "season_number": 4,
        "still_path": "/hrwR0Ttjrr4iuiMWBVr9dTN2Aa7.jpg",
        "vote_average": 10.0,
        "vote_count": 2
    }, {
        "air_date": "2016-02-25",
        "crew": [{
            "id": 1233099,
            "credit_id": "57a9e63792514111a70008fd",
            "name": "Ciaran Donnelly",
            "department": "Directing",
            "job": "Director",
            "profile_path": null
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 2,
        "guest_stars": [],
        "name": "Tuez la reine !",
        "overview": "Après ses expéditions victorieuses et la prise de Paris, Ragnar, gravement malade, fait route pour Kattegat avec ses Vikings. Mais les rumeurs entourant sa mort l’ont précédé, décuplant l’ardeur des candidats à sa succession. Parmi eux, son fils aîné, Björn, mais aussi la reine Aslaug, sa seconde épouse, qui a pris goût au pouvoir pendant ses années d’absence. Toutefois, si Ragnar apparaît plus vulnérable, on aurait tort de le sous-estimer…",
        "id": 1166651,
        "production_code": null,
        "season_number": 4,
        "still_path": "/fLmE6zAIwmL1tmzsPylRrxNvlac.jpg",
        "vote_average": 0.5,
        "vote_count": 1
    }, {
        "air_date": "2016-03-03",
        "crew": [{
            "id": 1233099,
            "credit_id": "57a9e63792514111a70008fd",
            "name": "Ciaran Donnelly",
            "department": "Directing",
            "job": "Director",
            "profile_path": null
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 3,
        "guest_stars": [],
        "name": "Pitié",
        "overview": "Floki fait face à la colère de Ragnar. Rollo trouve un allié improbabale à la Cour de France. Kalf et Erlendur tracent leur ascension. Quant à Bjorn, il doit lutter contre un adversaire féroce dans le désert.",
        "id": 1166652,
        "production_code": null,
        "season_number": 4,
        "still_path": "/whXSA0wNJ5huU8GwA1gVWoqOEpb.jpg",
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2016-03-10",
        "crew": [{
            "id": 4160,
            "credit_id": "56389e81c3a3681b4b01d460",
            "name": "Helen Shaver",
            "department": "Directing",
            "job": "Director",
            "profile_path": "/a9ODBCPAkAolT4QWhuMUlFNAUIL.jpg"
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 4,
        "guest_stars": [],
        "name": "Yol",
        "overview": "Le Yule Log brûle dans le Grand Hall de Kattegat, et d'étranges visiteurs sont accueillis, parmi eux le roi de Norvège. Le Roi Aelle visite Wessex pour Noël et est préoccupé par la manière dont les relations familiales évoluent. A Paris, l'avenir de Rollo est dans la balance, concernant sa nouvelle épouse, avec une délégation papale qui arrive pour arranger un divorce.",
        "id": 1166653,
        "production_code": null,
        "season_number": 4,
        "still_path": "/aj2TVz5b4U3uPicwQoRa3Z2ebxh.jpg",
        "vote_average": 0.5,
        "vote_count": 2
    }, {
        "air_date": "2016-03-17",
        "crew": [{
            "id": 4160,
            "credit_id": "56389e81c3a3681b4b01d460",
            "name": "Helen Shaver",
            "department": "Directing",
            "job": "Director",
            "profile_path": "/a9ODBCPAkAolT4QWhuMUlFNAUIL.jpg"
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 5,
        "guest_stars": [],
        "name": " Promesses",
        "overview": "Un vent de traîtrise souffle sur la Cour de paris et de Wessex. Ecbert accepte d'aider Kwenthrith à Mercia, mais est-il un réel allié? Ragnar confie à Yidu ses plus noirs secrets. Un mariage est arrangé entre Lagertha et Kalf.",
        "id": 1166654,
        "production_code": null,
        "season_number": 4,
        "still_path": "/uHJAV3pXqNw3gNl73Tx5aZi3HHe.jpg",
        "vote_average": 7.0,
        "vote_count": 1
    }, {
        "air_date": "2016-03-24",
        "crew": [{
            "id": 166437,
            "credit_id": "56388e35c3a3681b5c020f82",
            "name": "Ken Girotti",
            "department": "Directing",
            "job": "Director",
            "profile_path": "/16NZmRWFkyqrih7MUP6dT3w8BKX.jpg"
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 6,
        "guest_stars": [],
        "name": "Ce qui aurait pu être",
        "overview": "Ragnar annonce un raid à Paris. La flotte est battue par une tempête après avoir mis les voiles, mais la plus grande menace pour les Vikings et celle qui les attends à Paris. Pendant ce temps, Ecbert envoie Aethelwulf et Alfred en pélérinage à Rome.",
        "id": 1166655,
        "production_code": "aze124",
        "season_number": 4,
        "still_path": "/zGAYf5xNRQSiS8cirRYnyonvlnH.jpg",
        "vote_average": 5.75,
        "vote_count": 2
    }, {
        "air_date": "2016-03-31",
        "crew": [{
            "id": 166437,
            "credit_id": "56388e35c3a3681b5c020f82",
            "name": "Ken Girotti",
            "department": "Directing",
            "job": "Director",
            "profile_path": "/16NZmRWFkyqrih7MUP6dT3w8BKX.jpg"
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 7,
        "guest_stars": [],
        "name": "Pertes et profits",
        "overview": "Les intentions du roi Ecbert sont mises au jour alors qu'il complote pour conquérir la couronne de Mercia. Dans le même temps, les vikings portent leur attaque, avec une force considérable. Harbard, le mystérieux vagabond, refait surface. Son arrivée provoque l'émoi des femmes de Kattegat...",
        "id": 1169238,
        "production_code": null,
        "season_number": 4,
        "still_path": "/iNzGDvCcceZJ6AG5B8LA0LdbBen.jpg",
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2016-04-07",
        "crew": [{
            "id": 166437,
            "credit_id": "56388e35c3a3681b5c020f82",
            "name": "Ken Girotti",
            "department": "Directing",
            "job": "Director",
            "profile_path": "/16NZmRWFkyqrih7MUP6dT3w8BKX.jpg"
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 8,
        "guest_stars": [],
        "name": "Au-delà des montagnes",
        "overview": "Les Vikings, défaits, remettent en question le rôle de leader qu'occupe Ragnar, tandis qu'ils évacuent le camp et se replient en aval. Ce dernier ordonne à la flotte d'échouer près de la paroi d'une falaise et révèle à ses hommes un plan ingénieux...",
        "id": 1177783,
        "production_code": null,
        "season_number": 4,
        "still_path": "/tnwyCySvtyEtKX2OqUMaO0yTPmD.jpg",
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2016-04-14",
        "crew": [{
            "id": 66240,
            "credit_id": "56389d079251416d52010dff",
            "name": "Jeff Woolnough",
            "department": "Directing",
            "job": "Director",
            "profile_path": "/koqPv7NreDiF6CRjIdJN15gVk9S.jpg"
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 9,
        "guest_stars": [],
        "name": "La mort pour tous",
        "overview": "Les manoeuvres entreprises par les Vikings portent finalement leurs fruits : ils parviennent à relancer leurs embarcations en route pour Paris. Aethelwulf, le fils du roi Ecbert, et Alfred arrivent à Rome, où siège le pape Léon...",
        "id": 1177784,
        "production_code": null,
        "season_number": 4,
        "still_path": "/m4gzIOird8hnGMlPd9xDhz8GBbO.jpg",
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2016-04-21",
        "crew": [{
            "id": 66240,
            "credit_id": "56389d079251416d52010dff",
            "name": "Jeff Woolnough",
            "department": "Directing",
            "job": "Director",
            "profile_path": "/koqPv7NreDiF6CRjIdJN15gVk9S.jpg"
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 10,
        "guest_stars": [],
        "name": "Que Dieu bénisse Paris !",
        "overview": "Une bataille féroce est engagée entre la tribu Vikings et ses opposants français. A la tête des deux groupes, Ragnar et Rollo s'affrontent. L'issue du combat doit sceller le destin des deux frères ennemis, pour le meilleur et pour le pire...",
        "id": 1177785,
        "production_code": null,
        "season_number": 4,
        "still_path": "/cH3jtDDIZB3qK71KPNnpOJTPyu5.jpg",
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2016-11-30",
        "crew": [{
            "id": 123186,
            "credit_id": "584530f59251416764014224",
            "name": "Daniel Grou",
            "department": "Directing",
            "job": "Director",
            "profile_path": null
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 11,
        "guest_stars": [],
        "name": "L'étranger",
        "overview": "Ragnar, de retour à Kattegat, élabore un plan pour rejoindre Wessex et réparer certaines erreurs passées. Mais il découvre que ses anciens alliés ont désormais leurs propres intérêts à défendre. Un seul des fils Lothbrok accepte de se joindre à la mission du père...",
        "id": 1216032,
        "production_code": null,
        "season_number": 4,
        "still_path": "/23bDUORmHdkWVdhFbqilDhuIxE0.jpg",
        "vote_average": 9.167,
        "vote_count": 3
    }, {
        "air_date": "2016-12-07",
        "crew": [{
            "id": 123186,
            "credit_id": "584530f59251416764014224",
            "name": "Daniel Grou",
            "department": "Directing",
            "job": "Director",
            "profile_path": null
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 12,
        "guest_stars": [{
            "id": 1549653,
            "name": "David Lindström",
            "credit_id": "57fe67ce9251410900008f4e",
            "character": "Sigurd",
            "order": 2,
            "profile_path": "/sqBaHetxtTBe1UxAgrFMxipkOIY.jpg"
        }],
        "name": "La vision",
        "overview": "Les habitants de Kattegat se détournent de Ragnar, qui lutte pour rassembler sa flotte, persuadés que les dieux l'ont abandonné. Aslaug lui prédit un naufrage. Bjorn, au contraire, a le vent en poupe, tandis qu'il prépare son exploration en Méditerranée. L'expédition se fera à bord d'un nouveau bateau, flamboyant, construit pour lui Floki...",
        "id": 1216033,
        "production_code": null,
        "season_number": 4,
        "still_path": "/mQLcB8sbGJz9nd8th1kY5IyH4P4.jpg",
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2016-12-14",
        "crew": [{
            "id": 210158,
            "credit_id": "586167bec3a3681a6f0319a9",
            "name": "Sarah Harding",
            "department": "Directing",
            "job": "Director",
            "profile_path": null
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 13,
        "guest_stars": [],
        "name": "Deux voyages",
        "overview": "La flotte de Ragnar fait naufrage sur la côte du Wessex. Les survivants sont rares. Ivar et son père doivent prendre une grave décision. De son côté, Rollo ne peut résister à l'envie de rejoindre Bjorn, risquant à la fois son mariage et sa nouvelle identité franque...",
        "id": 1235443,
        "production_code": "413",
        "season_number": 4,
        "still_path": "/9ZsvVNJeDWy97O0HZkfwSqgR3Tm.jpg",
        "vote_average": 8.5,
        "vote_count": 1
    }, {
        "air_date": "2016-12-21",
        "crew": [{
            "id": 210158,
            "credit_id": "586167bec3a3681a6f0319a9",
            "name": "Sarah Harding",
            "department": "Directing",
            "job": "Director",
            "profile_path": null
        }, {
            "id": 37631,
            "credit_id": "56388c109251413b13000d27",
            "name": "Michael Hirst",
            "department": "Writing",
            "job": "Writer",
            "profile_path": "/pV1GW5TiYgkjaXF4ZdRZHXwmh5W.jpg"
        }],
        "episode_number": 14,
        "guest_stars": [],
        "name": "A cette heure incertaine avant le matin",
        "overview": "",
        "id": 1243300,
        "production_code": "414",
        "season_number": 4,
        "still_path": "/kRYaOvnxbBeILFRCVMIDmZWlj4y.jpg",
        "vote_average": 4.25,
        "vote_count": 2
    }, {
        "air_date": "2016-12-28",
        "crew": [],
        "episode_number": 15,
        "guest_stars": [],
        "name": "Tous ses anges",
        "overview": "",
        "id": 1243301,
        "production_code": null,
        "season_number": 4,
        "still_path": "/bo8f6YozU0JIWhuAxdvAIfWPVqS.jpg",
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2017-01-04",
        "crew": [],
        "episode_number": 16,
        "guest_stars": [],
        "name": "Traversées",
        "overview": "",
        "id": 1248645,
        "production_code": null,
        "season_number": 4,
        "still_path": null,
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2017-01-11",
        "crew": [],
        "episode_number": 17,
        "guest_stars": [],
        "name": "Episode 17",
        "overview": "",
        "id": 1248805,
        "production_code": null,
        "season_number": 4,
        "still_path": null,
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2017-01-18",
        "crew": [],
        "episode_number": 18,
        "guest_stars": [],
        "name": "Episode 18",
        "overview": "",
        "id": 1248806,
        "production_code": null,
        "season_number": 4,
        "still_path": null,
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2017-01-25",
        "crew": [],
        "episode_number": 19,
        "guest_stars": [],
        "name": "Episode 19",
        "overview": "",
        "id": 1248807,
        "production_code": null,
        "season_number": 4,
        "still_path": null,
        "vote_average": 0.0,
        "vote_count": 0
    }, {
        "air_date": "2017-02-01",
        "crew": [],
        "episode_number": 20,
        "guest_stars": [],
        "name": "Episode 20",
        "overview": "",
        "id": 1248808,
        "production_code": null,
        "season_number": 4,
        "still_path": null,
        "vote_average": 0.0,
        "vote_count": 0
    }],
    "name": "Saison 4",
    "overview": "",
    "id": 72979,
    "poster_path": "/nHJHNRApy8vmTUvZx59l1f1GXzB.jpg",
    "season_number": 4
}
